/*---------------------------
	Fonts
----------------------------*/
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap');

// fonts
$base-font-size: 16;
$base-font: 'Quicksand', sans-serif;



// color
$dark-gray: #2a2a2a;
$white: #fff;
$black: #000;
$green: #6ccb82;
$blue: #233d62;
$dark-sky: #687693;

$theme-primary-color: $green;
$body-bg-color: $white;
$section-bg-color: #edecec;
$text-color: $dark-sky;
$heading-color: $blue;
