/*------------------------------------
	blog sidebar
------------------------------------*/
.blog-sidebar {
	@include widther(1200px) {
		padding-left: 45px;
	}

	@include media-query(991px) {
		margin-top: 80px;
		max-width: 400px;
	}

	@include media-query(767px) {
		margin-top: 60px;
		max-width: 400px;
	}

	.widget {

		h3 {
			font-size: 20px;
			font-size: calc-rem-value(20);
			margin: 0 0 1.3em;
			position: relative;
			text-transform: capitalize;
		}
	}

	> .widget + .widget {
		margin-top: 65px;
	}


	/*** search-widget ***/
	.search-widget {
		form div {
			position: relative;
		}

		input {
			background-color: transparent;
			height: 50px;
			font-size: 16px;
			font-size: calc-rem-value(16);
			padding: 6px 50px 6px 20px;
			border: 1px solid #b2b9c8;
			border-radius: 0;
			box-shadow: none;
			@include transition-time(0.3s);
		}

		input:focus {
			border-color: $theme-primary-color;
		}

		form button {
			background: $theme-primary-color;
			width: 50px;
			height: 50px;
			line-height: 50px;
			font-size: 20px;
			font-size: calc-rem-value(20);
			color: $white;
			border: 0;
			outline: 0;
			position: absolute;
			right: 0;
			top: 0;
			border-radius: 0;

			i {
				font-size: 14px;
			}
		}
	}


	/*** about-widget ***/
	.about-widget {
		text-align: center;

		.img-holder {
			margin-bottom: 25px;

			img {
				border-radius: 50%;
			}
		}

		p {
			font-size: 15px;
			font-size: calc-rem-value(15);
			margin-bottom: 1.2em;
		}

		a {
			font-size: 14px;
			font-size: calc-rem-value(14);
			font-weight: bold;
			color: $heading-color;
		}

		a:hover {
			color: $theme-primary-color;
		}

		.social {
			ul {
				display: inline-block;
			}

			ul li {
				float: left;
			}

			ul > li + li {
				margin-left: 15px;
			}

			a {
				font-size: 13px;
				color: $text-color;
			}

			a:hover {
				color: $theme-primary-color;
			}
		}
	}


	/*** category-widget ***/
	.category-widget {
		ul {
			list-style: none;
		}

		ul li {
			font-size: 15px;
			font-size: calc-rem-value(15);
			position: relative;

			@include media-query(767px) {
				font-size: 14px;
				font-size: calc-rem-value(14);
			}
		}

		ul > li + li {
			margin-top: 10px;
			padding-top: 10px;
		}

		ul a {
			display: block;
			color: $text-color;
			position: relative;
		}

		ul a:hover,
		ul li:hover:before {
			color: $theme-primary-color;
		}
	}


	/*** recent-post-widget ***/
	.recent-post-widget {
		.post {
			overflow: hidden;
		}

		.posts > .post + .post {
			margin-top: 15px;
			padding-top: 15px;
		}

		.post .img-holder {
			width: 70px;
			float: left;

			img {
				border-radius: 50%;
			}
		}

		.post .details {
			width: calc(100% - 70px);
			float: left;
			padding-left: 20px;
		}

		.post h4 {
			font-family: $base-font;
			font-size: 15px;
			font-size: calc-rem-value(15);
			font-weight: 600;
			line-height: 1.3em;
			margin: 0 0 0.3em;

			@include media-query(1199px) {
				margin: 0;
			}
		}

		.post h4 a {
			display: inline-block;
			color: $heading-color;
		}

		.post h4 a:hover {
			color: $theme-primary-color;
		}

		.post .details .date {
			font-size: 13px;
			font-size: calc-rem-value(13);
			font-weight: 600;
			color: $text-color;
		}
	}


	/*** tag-widget ***/
	.tag-widget {

		ul {
			overflow: hidden;
			list-style: none;
		}

		ul li {
			float: left;
			margin: 0 8px 8px 0;
		}

		ul li a {
			font-size: 13px;
			font-size: calc-rem-value(13);
			font-weight: 600;
			display: inline-block;
			padding: 7px 14px;
			color: $text-color;
			border: 1px solid #e0dfdf;
			border-radius: 50px;
		}

		ul li a:hover {
			background: $theme-primary-color;
			color: $white;
			border-color: $theme-primary-color;
		}
	}
}