.theme-btn {
	background-color: $theme-primary-color;
	font-size: 17px;
	font-size: calc-rem-value(17);
	font-weight: bold;
	color: $white;
	padding: 18px 30px;
	border: 0;
	border-radius: 60px;
	display: inline-block;
	position: relative;
	z-index: 1;

	&:after {
		content: "";
		background-color: transparentize($theme-primary-color, 0.24);
		width: 100%;
		height: 100%;
		position: absolute;
		left: 5px;
		top: 5px;
		border-radius: 60px;
		z-index: -1;
		@include transition-time(0.3s);
	}

	&:hover {
		background-color: darken($theme-primary-color, 10%);
		z-index: 1;
	}

	&:hover:after {
		left: 0;
		top: 0;
	}

	&:hover,
	&:focus,
	&:active {
		color: $white;
	}

	@include media-query(767px) {
		font-size: 14px;
		padding: 15px 25px;
	}
}

.theme-btn-s2 {
	background-color: $theme-primary-color;
	font-weight: bold;
	color: $white;
	padding: 16px 60px 16px 30px;
	display: inline-block;
	position: relative;

	.fi:before {
		font-size: 16px;
		font-size: calc-rem-value(16);
		color: $white;
	}

	i {
		position: absolute;
		top: 32%;
		right: 30px;
	}

	&:hover {
		background-color: darken($theme-primary-color, 10%);
		color: $white;
	}
}

.theme-btn-s3 {
	background-color: transparent;
	font-size: 17px;
	font-size: calc-rem-value(17);
	font-weight: 600;
	color: $theme-primary-color;
	padding: 16px 30px;
	border: 2px solid $theme-primary-color;
	border-radius: 60px;
	display: inline-block;
	position: relative;
	z-index: 1;

	&:hover,
	&:focus,
	&:active {
		background-color: $theme-primary-color;
		color: $white;
	}

	@include media-query(991px) {
		font-size: 15px;
		font-size: calc-rem-value(15);
		padding: 15px 20px;
	}

	@include media-query(767px) {
		font-size: 14px;
		padding: 15px 25px;
	}
}

.theme-btn-s4 {
	@extend .theme-btn;
	background-color: $white;
	color: $theme-primary-color;

	&:hover {
		background-color: $white;
		color: $theme-primary-color;
	}

	&:after {
		background-color: transparentize($white, 0.7);
	}
}