.section-title {
	margin-bottom: 20px;

	> span {
		font-size: 14px;
		font-size: calc-rem-value(14);
		font-weight: 600;
		color: $theme-primary-color;
		margin-top: -0.4em;
		text-transform: uppercase;
		letter-spacing: 5px;
		display: block;
		position: relative;

		@include media-query(767px) {
			font-size: 12px;
			font-size: calc-rem-value(12);
		}

		&:before {
			content: "";
			background: $theme-primary-color;
			width: 55px;
			height: 1px;
			position: absolute;
			left: -70px;
			top: 9px;
		}
	}

	h2 {
		font-size: 48px;
		font-size: calc-rem-value(48);
		margin: 0.2em 0 0;
		position: relative;

		@include media-query(991px) {
			font-size: 38px;
			font-size: calc-rem-value(38);
		}

		@include media-query(767px) {
			font-size: 30px;
			font-size: calc-rem-value(30);
		}
	}
}

.section-title-s2 {
	margin-bottom: 20px;
	text-align: center;

	> span {
		font-size: 14px;
		font-size: calc-rem-value(14);
		font-weight: 600;
		color: $theme-primary-color;
		margin-top: -0.4em;
		text-transform: uppercase;
		letter-spacing: 5px;
		display: block;
		position: relative;

		@include media-query(767px) {
			font-size: 12px;
			font-size: calc-rem-value(12);
		}
	}

	h2 {
		font-size: 48px;
		font-size: calc-rem-value(48);
		margin: 0.2em 0 0;
		position: relative;

		@include media-query(991px) {
			font-size: 38px;
			font-size: calc-rem-value(38);
		}

		@include media-query(767px) {
			font-size: 30px;
			font-size: calc-rem-value(30);
		}
	}
}

.section-title-s3 {
	@extend .section-title;
	margin-bottom: 50px;

	@include media-query(767px) {
		margin-bottom: 35px;
	}

	h2 {
		margin-bottom: 0.27em;
	}

	p {
		margin: 0;
	}
}

.section-title-s4 {
	@extend .section-title-s2;
	margin-bottom: 50px;

	@include media-query(767px) {
		margin-bottom: 40px;
	}

	h2 {
		margin: 0.1em 0 0.3em;
	}

}