.sticky-header {
	width: 100%;
	position: fixed;
	left: 0;
	top: -300px;
	z-index: 9999;
	opacity: 0;
	@include transition-time(0.7s);
}

.site-header .sticky-on {
	opacity: 1;
	top: 0;
}

.header-style-1 .sticky-header {
	background: $theme-primary-color;
	border-top: 0;

	.separator-bottom {
		display: none;
	}
}

.header-style-2 .sticky-header,
.header-style-3 .sticky-header,
.header-style-4 .sticky-header   {
	background: $white;
	border-top: 0;
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
	margin: 0;
}

.header-style-4 .sticky-header {
	@media screen and (min-width: 992px) {
		#navbar > ul > li.current-menu-parent > a,
		#navbar > ul > li > a:hover {
		    color: $white !important;
		}
	}
}
