/*--------------------------------------------------------------
#0.5	footer
--------------------------------------------------------------*/
.site-footer {
	background-color: #21222c;
	background-size: cover;
	position: relative;
	font-size: 15px;
	overflow: hidden;

	ul {
		list-style: none;
	}

	p,
	li {
		color: #c5c5c5;
	}


	.newsletter-area {
		padding: 80px 0;
		position: relative;
		top: 3px;


		@include media-query(767px) {
			text-align: center;
			padding: 60px 0 70px;
		}


		.separator {
			background: transparentize($white, 0.92);
			width: 1140px;
			height: 1px;
			position: absolute;
			left: 50%;
			@include translatingX();
			bottom: 0;
		}


		.text {
			width: 290px;
			float: left;

			@include media-query(767px) {
				width: 100%;
				float: none;
			}

			h3 {
				font-size: 36px;
				font-size: calc-rem-value(36);
				color: $white;
				margin: -0.05em 0 0;

				@include media-query(767px) {
					font-size: 30px;
					font-size: calc-rem-value(30);
				}
			}

			p {
				font-size: 18px;
				font-size: calc-rem-value(18);
				font-weight: 600;
				color: $white;
				margin: 0;

				@include media-query(767px) {
					font-size: 17px;
					font-size: calc-rem-value(17);
				}
			}
		}

		form {
			width: calc(100% - 290px);
			float: right;
			position: relative;


			@include media-query(767px) {
				width: 100%;
				float: none;
				margin-top: 25px;
			}

			input {
				background-color: $white;
				height: 60px;
				color: $text-color;
				padding: 6px 20px;
				border-radius: 60px;
				border: 0;
				box-shadow: none;
			}

			button {
				background-color: $theme-primary-color;
				height: 60px;
				padding: 0 20px;
				font-size: 14px;
				font-size: calc-rem-value(14);
				font-weight: 600;
				text-transform: uppercase;
				position: absolute;
				right: 0;
				top: 0;
				border: 0;
				border-radius: 60px;
				outline: 0;
				color: $white;
			}
		}
	}

	.upper-footer {
		padding: 90px 0;

		@include media-query(991px) {
			padding: 90px 0 20px;
		}

		@include media-query(767px) {
			padding: 80px 0 10px;
		}

		.col {
			@include media-query(991px) {
				min-height: 235px;
				margin-bottom: 70px;
			}

			@include media-query(767px) {
				min-height: auto;
				margin-bottom: 60px;
			}
		}
	}

	.widget-title {
		margin-bottom: 20px;

		@include media-query(767px) {
			margin-bottom: 20px;
		}
	}

	.widget-title h3 {
		font-size: 20px;
		font-size: calc-rem-value(20);
		color: $white;
		margin: 0;
		padding-bottom: 0.4em;
		text-transform: capitalize;
		position: relative;

		@include media-query(991px) {
			padding-bottom: 0;
		}
	}

	/*** about-widget ***/
	.about-widget {
		p {
			margin-bottom: 1.5em;
			line-height: 1.9em;
		}

		p:last-child {
			margin-bottom: 0;
		}

		ul {
			overflow: hidden;

			> li:first-child {
				margin-left: 0;
			}

			li {
				float: left;
				margin-left: 15px;
			}

			a {
				font-size: 13px;
				font-size: calc-rem-value(13);
				color: $white;
			}

			a:hover {
				color: $theme-primary-color;

				@include media-query(991px) {
					color: $heading-color;
				}
			}
		}

	}

	/*** link-widget ***/
	.link-widget {
		overflow: hidden;

		@include widther(1200px) {
			padding-left: 20px;
		}

		@include media-query(1199px) {
			padding-left: 20px;
		}

		@include media-query(991px) {
			padding-left: 0;
		}

		@include media-query( 767px ) {
	       max-width: 350px;
	    }

		ul {
			width: 50%;
			float: left;
		}

		ul li {
			position: relative;
		}

		ul a {
			color: #c5c5c5;
			font-weight: 500;
		}

		ul a:hover,
		ul li:hover:before {
			text-decoration: underline;
		}

		ul > li + li {
			margin-top: 15px;
		}
	}

	.agent-widget {
		h4 {
			font-size: 16px;
			font-size: calc-rem-value(16);
			font-weight: 600;

			i {
				display: inline-block;
				padding-right: 8px;
				font-weight: normal;			
			}

			a {
				color: $white;
				text-decoration: underline;
			}
		}

		.fi:before {
			font-size: 25px;
			font-size: calc-rem-value(25);
			color: $theme-primary-color;
		}

		p {
			font-size: 18px;
			font-size: calc-rem-value(18);
			font-weight: 600;
			color: $theme-primary-color;
			margin: 0;
			text-decoration: underline;
		}
	}

	/*** contact-widget ***/
	.contact-widget {
		@include widther(1200px) {
			padding-left: 25px;
		}

		ul {
			margin-top: 25px;
		}

		ul li {
			position: relative;
		}

		ul > li + li {
			margin-top: 15px;
		}

		li span {
			font-weight: 500;
		}
	}


	/*** lower-footer ***/
	.lower-footer {
		text-align: center;
		position: relative;

		.row {
			padding: 20px 0;
			position: relative;

			.separator {
				background: transparentize($white, 0.92);
				width: calc(100% - 30px);
				height: 1px;
				position: absolute;
				left: 15px;
				top: 0;
			}
		}

		.copyright {
			display: inline-block;
			float: left;
			margin: 0;

			@include media-query(991px) {
				float: none;
				display: block;
				margin: 0 0 20px;
			}

			a {
				color: #cdced0;
				text-decoration: underline;
			}
		}

		.extra-link {
			display: inline-block;
			float: right;
			overflow: hidden;

			@include media-query(991px) {
				float: none;
				display: block;
				text-align: center;
			}
		}

		.extra-link ul {
			overflow: hidden;
			list-style: none;

			@include media-query(991px) {
				display: inline-block;
			}

			li {
				float: left;
			}

			> li + li {
				margin-left: 35px;
				position: relative;

				@include media-query(767px) {
					margin-left: 15px;
				}

				&:before {
					content: "";
					background: $white;
					width: 1px;
					height: 14px;
					position: absolute;
					left: -17px;
    				top: 4px;

					@include media-query(767px) {
						display: none;
					}
				}
			}

			a {
				font-size: 14px;
				font-size: calc-rem-value(14);
				font-weight: 500;
				color: $white;
			}

			a:hover {
				text-decoration: underline;
			}
		}

	}
}