/*--------------------------------------------------------------
#0.3	header
--------------------------------------------------------------*/
.site-header {

	.navigation {
		background-color: $white;
		margin-bottom: 0;
		border: 0;
		@include rounded-border(0);

		> .container {
			position: relative;
		}
	}

	#navbar {
		@include transition-time(0.5s);

		> ul li a:hover {
			text-decoration: none;
			color: $theme-primary-color;
		}

		// style for widther screen
		@include widther(992px) {
			li {
				position: relative;
			}

			> ul > li > a {
				font-size: 16px;
				font-size: calc-rem-value(16);
			}

			> ul > li .sub-menu a:hover {
				color: $theme-primary-color;
			}

			> ul .sub-menu {
				background-color: $white;
				width: 220px;
				text-align: left;
				padding: 10px 25px;
				position: absolute;
				left: 0;
				top: 100%;
				z-index: 10;
				visibility: hidden;
				opacity: 0;
				@include transition-time(0.3s);
				box-shadow: 0 8px 15px rgba(0,0,0,.1);
				text-transform: capitalize;
				
				li.current-menu-item a {
					color: $theme-primary-color;
				}

				li.current-menu-parent > a {
					color: $theme-primary-color;
				}
			}

			> ul > li .sub-menu li:last-child {
				border-bottom: 0;
			}

			> ul > li .sub-menu a {
				display: block;
				padding: 10px 0;
				color: $heading-color;
				font-size: 14px;
				font-size: calc-rem-value(14);
				font-weight: 500;

				&:hover {
					padding-left: 5px;
				}
			}

			> ul > li > .sub-menu .sub-menu {
				left: 110%;
				top: 0;
			}

			> ul > li > .sub-menu > .menu-item-has-children > a {
				position: relative;

				&:before {
					font-family: "themify";
					content: "\e649";
					font-size: 11px;
					font-size: calc-rem-value(11);
					position: absolute;
					right: 0;
					top: 50%;
					@include translatingY();
				}
			}

			/*** hover effect ***/
			> ul > li:hover > .sub-menu {
				top: 100%;
				visibility: visible;
				opacity: 1;
			}

			.sub-menu > li:hover > .sub-menu {
				left: 115%;
				visibility: visible;
				opacity: 1;
			}
		}

		@include media-query(991px) {

			> ul > li a {
				display: block;
				font-size: 14px;
				font-size: calc-rem-value(14);
				font-weight: 600;
			}

			> ul > li a:hover {
				color: $theme-primary-color;
			}

			> ul > li.current-menu-parent > a,
			> ul li.current-menu-item > a {
				color: $theme-primary-color;
			}

			> ul > li .sub-menu li {
				border-bottom: 1px solid lighten($black, 90%);
			}

			> ul .sub-menu > li:last-child {
				border-bottom: 0;
			}

			> ul > li > .sub-menu a {
				padding: 8px 15px 8px 45px;
			}

			> ul > li > .sub-menu .sub-menu a {
				padding: 8px 15px 8px 65px;
			}

			> ul .menu-item-has-children > a {
				position: relative;

				&:before {
					font-family: "themify";
					content: "\e61a";
					font-size: 11px;
					font-size: calc-rem-value(11);
					position: absolute;
					right: 15px;
					top: 50%;
					@include translatingY();
				}
			}
		}


		/*** mega-menu style ***/
		@include widther(992px) {
			.has-mega-menu {
				position: static;
			}

			.mega-menu,
			.half-mega-menu {
				background-color: $white;
				padding: 20px;
				border-top: 2px solid $theme-primary-color;
				position: absolute;
			    right: 0;
			    top: 100%;
			    z-index: 10;
			    visibility: hidden;
			    opacity: 0;
			    @include transition-time(0.3s);
			}

			.mega-menu {
				width: 1140px;
				right: 15px;
			}

			.half-mega-menu {
				width: 585px;
			}

			.mega-menu-box-title {
				font-size: 14px;
				font-size: calc-rem-value(14);
				text-transform: uppercase;
				font-weight: bold;
				display: block;
				padding-bottom: 7px;
				margin-bottom: 7px;
				border-bottom: 1px solid lighten($black, 90%);
			}

			.mega-menu-list-holder li a {
				font-size: 14px;
				font-size: calc-rem-value(14);
				display: block;
				padding: 7px 8px;
				margin-left: -8px;
			}

			/*** hover effect ***/
			.has-mega-menu:hover > ul {
				top: 100%;
				visibility: visible;
				opacity: 1;
			}
		}

		@include media-query(1199px) {
			> ul .mega-menu {
				width: 950px;
				right: 15px;
			}

			> ul .half-mega-menu {
				width: 485px;
			}
		}

		@include media-query(991px) {
			> ul .mega-menu,
			> ul .half-mega-menu {
				width: auto;
			}

			> ul .mega-menu .row,
			> ul .half-mega-menu .row {
				margin: 0;
			}

			.mega-menu-content > .row > .col {
				margin-bottom: 25px;
			}
		}

		@include media-query(991px) {
			.mega-menu .mega-menu-list-holder a {
				padding: 5px 15px 5px 40px;
			}

			.mega-menu .mega-menu-box-title {
				font-size: 14px;
				font-size: calc-rem-value(14);
				text-transform: uppercase;
				display: block;
				border-bottom: 1px dotted lighten($black, 70%);
				padding: 0 0 4px 5px;
				margin: 0 25px 8px 25px;
			}
		}
	}

	/* navigation open and close btn hide for width screen */
	@include widther(992px) {
		.navbar-header .open-btn {
			display: none;
		}

		#navbar .close-navbar {
			display: none;
		}
	}


	/* style for navigation less than 992px */
	@include media-query (991px) {
		.container {
			width: 100%;
		}

		.navbar-header button {
			background-color: $theme-primary-color;
			width: 40px;
			height: 35px;
			border: 0;
			padding: 5px 10px;
			outline: 0;
			position: absolute;
			right: 15px;
			top: 6px;
			z-index: 20;


			 span {
				background-color: $white;
				display: block;
				height: 2px;
				margin-bottom: 5px;

				&:last-child {
					margin: 0;
				}
			 }
		}

		#navbar {
			background: $white;
			display: block !important;
			width: 280px;
			height: 100% !important;
			margin: 0;
			padding: 0;
			border-left: 1px solid lighten($black, 80%);
			border-right: 1px solid lighten($black, 80%);
			position: fixed;
			right: -330px;
			top: 0;
			z-index: 100;

			ul a {
				color: $black;
			}

			ul a:hover,
			ul li.current a {
				color: $theme-primary-color;
			}

			.navbar-nav {
				height: 100%;
				overflow: auto;
			}

			.close-navbar {
				background-color: $white;
				width: 40px;
				height: 40px;
				color: $black;
				border: 0;
				outline: none;
				position: absolute;
				left: -41px;
				top: 90px;
				z-index: 20;

				.ti-close {
					position: relative;
					top: 1px;
				}
			}

			> ul > li {
				border-bottom: 1px solid lighten($black, 95%);
			}

			> ul > li > a {
				padding: 10px 15px 10px 35px;
			}
		}

		/* class for show hide navigation */
		.slideInn {
			right: 0 !important;
		}
	}

	@include media-query(767px) {
		.navbar-header .navbar-brand {
			font-size: 24px;
		}

		#navbar .navbar-nav {
			margin: 0;
		}
	}


	/*navbar collaps less then 992px*/
	@include media-query (991px) {
	    .navbar-collapse.collapse {
	        display: none;
	    }

	    .navbar-collapse.collapse.in {
	        display: block;
	    }

	    .navbar-header .collapse,
	    .navbar-toggle {
	        display:block;
	    }

	    .navbar-header {
	        float:none;
	    }

	    .navbar-right {
	        float: none;
	    }

	    .navbar-nav {
	    	float: none;
	    }

	    .navbar-nav > li {
	        float: none;
	    }
	}
}

@include media-query(991px) {
	.page-wrapper {
		@include transition-time(0.3s);
	}
	.body-overlay:before {
		content: "";
		width: 100%;
		height: 100%;
		background: transparentize($black, 0.1);
		position: absolute;
		left: 0;
		top: 0;
		z-index: 10;
		@include transition-time(0.3s);
	}
}


/*--------------------------------------------------------------
	#header-style-1
--------------------------------------------------------------*/
.header-style-1 {
	@include widther(992px) {
	    width: 100%;
		background: transparent;
	    position: absolute;
	    left: 0;
	    top: 0;
	    z-index: 100;

	    .navigation {
	    	background-color: transparent;
			border-top: 1px solid transparentize($white, 0.7);
			margin-top: 1px;

			.container-fluid {
				padding-right: 0;
			}

			.separator-bottom {
				width: 100%;
				height: 1px;
				background-color: transparentize($white, 0.7);
				position: absolute;
				left: 0;
				bottom: 2px;
			}

			.separator-bottom-2 {
				width: 100%;
				height: 1px;
				background-color: transparentize($white, 0.7);
				position: absolute;
				left: 0;
				bottom: 0;
			}

			#navbar {
				border-left: 1px solid transparentize($white, 0.7);
				position: relative;

				.left-separator {
					width: 1px;
					height: 100%;
					background-color: transparentize($white, 0.7);
					position: absolute;
					left: 1px;
					top: 0;
				}
			}

	    	#navbar > ul > li > a {
	    		font-size: 17px;
	    		font-size: calc-rem-value(17);
	    		font-weight: 600;
	    		color: $white;
	    		padding: 40px 20px;
	    		position: relative;

	    		&:before {
					content: "";
					background: $theme-primary-color;
					width: 100%;
					height: 43px;
					border-radius: 43px;
					position: absolute;
					left: 0;
					top: calc(50% - 21px);
					opacity: 0;
					@include transition-time(0.3s);
					z-index: -1;
				}

				&:hover:before {
					opacity: 1;
				}

				&:hover {
					color: $white !important;
				}
	    	}

			#navbar > ul > li.current-menu-parent > a:before,
			#navbar > ul > li.current-menu-item > a:before {
				opacity: 1;
			}
	    }
	}

	@include widther(1200px) {
		.navigation {
			margin-top: -3px;
		}

		#navbar {
			padding-left: 35px;
		}
	}

	.navbar-brand {
		margin-top: 20px;

		@include media-query(991px) {
			margin-top: 0;
		}

		img {
			max-width: 84px;
		}
	}

	@include media-query(991px) {
		background-color: $theme-primary-color;

		.navigation {
			background: $theme-primary-color;
		}

		.navbar-header {
			padding: 15px 0;
		}
	}

	.navbar-header button {
		background: $white;
		width: 45px;
		height: 45px;
		border-radius: 50%;
		top: 17px;

		span {
			background: $theme-primary-color;
		}
	}

	/*** topbar ****/
	.topbar {
		border-bottom: 1px solid transparentize($white, 0.7);

		@include media-query(991px) {
			text-align: center;
		}

		.container-fluid {
			padding-right: 0;
		}

		.info {
			padding-top: 15px;

			@include media-query(1199px) {
				padding: 15px 0;
			}

			ul li {
				color: $white;
			}
		}

		.info ul {
			overflow: hidden;

			li {
				font-size: 15px;
				font-size: calc-rem-value(15);
				font-weight: 500;
				float: left;

				@include media-query(991px) {
					float: none;
				}
			}

			> li + li {
				margin-left: 40px;

				@include media-query(991px) {
					margin: 10px 0 0 0;
				}
			}

			i {
				display: inline-block;
				padding-right: 3px;
			}
		}

		.social-quote {
			float: right;

			@include media-query(991px) {
				float: none;
			}

			> div {
				float: left;

				@include media-query(991px) {
					float: none;
				}
			}
		}

		.social-links {
			padding: 15px 25px 0 0;

			@include media-query(991px) {
				display: inline-block;
				padding: 0 0 15px 0;
			}

			ul {
				overflow: hidden;
			}

			li {
				float: left;
				margin-left: 15px;
			}

			a {
				font-size: 13px;
				font-size: calc-rem-value(13);
				color: $white;
			}

			a:hover {
				color: $theme-primary-color;

				@include media-query(991px) {
					color: $heading-color;
				}
			}
		}

		.quote-btn {
			@include media-query(1199px) {
				display: none;
			}
		}
	}

	.search-contact {
		background-color: $theme-primary-color;
		position: relative;
		float: right;

		@include media-query(991px) {
			display: none;
		}

		> div {
			float: left;
		}

		.contact {
			@include media-query(1199px) {
				display: none;
			}
		}

		.contact a {
			background: $theme-primary-color;
			display: block;
			padding: 26px 30px 26px 100px;
			position: relative;
			color: $white;

			i {
				position: absolute;
				top: 50%;
				left: 30px;
				@include translatingY();
			}

			.fi:before {
				font-size: 50px;
				font-size: calc-rem-value(50);
				color: $white;
			}

			h5 {
				font-size: 18px;
				font-size: calc-rem-value(18);
				font-weight: bold;
				color: $white;
				margin: 0 0 0.2em;
			}
		}

		.header-search-area {

			.open-btn span {
				display: block;
				font-size: 14px;
				font-size: calc-rem-value(14);
				font-weight: bold;
				text-transform: uppercase;
			}

			.open-btn {
				background: $theme-primary-color;
				color: white;
				font-size: 16px;
				padding: 27px 25px 26px 25px;
				border-radius: 0;
				border-left: 1px solid transparentize($white, 0.7);
				position: relative;

				&:before {
					content: "";
					background-color: transparentize($white, 0.7);
					width: 1px;
					height: 100%;
					position: absolute;
					left: 1px;
					top: 0;
				}
			}
		}
	}
}


/*--------------------------------------------------------------
	#header-style-2
--------------------------------------------------------------*/
.header-style-2 {
	@extend .header-style-1;

	@include widther(992px) {
		max-width: 1536px;
	    left: auto;
	    right: 0;
	    position: absolute;

	    .navigation #navbar {
	    	position: relative;
	    	z-index: 10;
	    	border-left: 0;
	    	margin-left: 15px;
	    	padding-left: 15px;
	    }

	    .navigation {
	    	border-top: 0;
	    	margin-top: 0;
	    	background-color: $white;
	    	padding-left: 15px;
	    }

	    .navigation  #navbar > ul > li > a {
	    	color: $heading-color;
	    	padding: 38px 20px;
	    }

		.navigation #navbar > ul > li.current-menu-parent > a,
		.navigation #navbar > ul > li.current-menu-item > a {
			color: $white;
		}
	}

	@include media-query(991px) {
		background-color: $white;
		box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);

		.navigation {
			background: $white;
		}
	}

	.navbar-header button {
		background: $theme-primary-color;
		width: 45px;
		height: 45px;
		border-radius: 50%;
		top: 17px;

		span {
			background: $white;
		}
	}	
}


/*--------------------------------------------------------------
	#header-style-3
--------------------------------------------------------------*/
.header-style-3 {
	@extend .header-style-1;

	@include widther(992px) {
		background: $white;

		.topbar {
			border-bottom: 0;

			.info ul li {
				color: $text-color;
			}

			.social-links a {
				color: $text-color;
			}
		}

		.navigation {
			border-color: #ededed;
		}

		.navigation #navbar > ul > li > a {
			color: $heading-color;
			padding: 38px 20px;
		}

		.navigation #navbar > ul > li.current-menu-parent > a {
			color: $white;
		}

		.search-contact .header-search-area .open-btn {
			padding: 29px 25px 27px 25px;
			border-left: 0;
		}
	}

	@include widther(1200px) {
		.topbar,
		.navbar {
			padding-left: 30px;
		}

		.navigation {
			margin-top: 0;
			border-bottom: 0;
		}

		.navbar-header {
			height: 100px;
			border-right: 1px solid #ededed;
		}

		#navbar {
			padding-left: 30px;
		}

		.search-contact .contact a {
			padding: 27px 30px 26px 100px;
		}
	}

	@include media-query(991px) {
		.navigation,
		.navbar-header button span {
			background-color: $white;
		}

		.navbar-header button {
			background-color: $theme-primary-color;
		}
	}
}


/*--------------------------------------------------------------
	#header-style-4
--------------------------------------------------------------*/
.header-style-4 {
	border-bottom: 1px solid #ededed;

	.container-fluid {
		padding: 0;
	}

	.logo {
		width: 165px;
		height: 138px;
		float: left;
	    line-height: 138px;
	    border-right: 1px solid #ededed;
	    text-align: center;

	    @include media-query(1100px) {
			width: 125px;
	    }

	    @include media-query(767px) {
	    	width: 100%;
	    	float: none;
	    	height: 80px;
	    	line-height: 80px;
	    	border-bottom: 1px solid #ededed;
	    }

		img {
			max-width: 84px;
		}
	}

	.right-area {
		width: calc(100% - 165px);
		float: right;

		@include media-query(1100px) {
			width: calc(100% - 125px);
	    }

	    @include media-query(767px) {
	    	width: 100%;
	    	float: none;
	    }
	}
		
	/*** topbar ****/
	.topbar {
		border-bottom: 1px solid #ededed;
		padding: 15px 0 15px 35px;
		overflow: hidden;

		@include media-query(991px) {
			padding: 15px 0 15px 15px;
		}

		@include media-query(767px) {
			text-align: center;
		}

		.info {
			width: calc(100% - 145px);
			float: left;

			@include media-query(991px) {
				width: 100%;
				float: none;
			}
		}

		.info ul {
			overflow: hidden;

			li {
				font-size: 15px;
				font-size: calc-rem-value(15);
				font-weight: 500;
				float: left;

				@include media-query(991px) {
					margin-right: 25px;
				}

				@include media-query(767px) {
			    	float: none;
			    	display: block;
			    	margin: 0;
			    }
			}

			> li + li {
				margin-left: 40px;

				@include media-query(991px) {
					margin: 0;
				}
			}

			i {
				display: inline-block;
				padding-right: 3px;
			}
		}

		.social-links {
			width: 145px;
			float: right;

			@include media-query(991px) {
				display: inline-block;
			}

			ul {
				overflow: hidden;
			}

			li {
				float: left;
				margin-left: 15px;
			}

			ul li:first-child {
				margin-left: 0;
			}

			a {
				font-size: 13px;
				font-size: calc-rem-value(13);
				color: $text-color;
			}

			a:hover {
				color: $theme-primary-color;

				@include media-query(991px) {
					color: $heading-color;
				}
			}
		}
	}

	@include widther(992px) {
	    .navigation {
	    	background-color: transparent;
	    }
	    	
    	#navbar > ul > li > a {
    		font-size: 17px;
    		font-size: calc-rem-value(17);
    		font-weight: 600;
    		color: $text-color;
    		padding: 32px 20px;
    		position: relative;

    		&:before {
				content: "";
				background: $theme-primary-color;
				width: 100%;
				height: 43px;
				border-radius: 43px;
				position: absolute;
				left: 0;
				top: calc(50% - 21px);
				opacity: 0;
				@include transition-time(0.3s);
				z-index: -1;
			}

			&:hover:before {
				opacity: 1;
			}

			&:hover {
				color: $theme-primary-color;
			}
    	}

		#navbar > ul > li.current-menu-parent > a:before,
		#navbar > ul > li.current-menu-item > a:before {
			opacity: 1;
		}

		#navbar > ul > li.current-menu-parent > a {
			color: $theme-primary-color;
		}
	}

	@media (max-width:1359px) and (min-width:992px) {
		#navbar > ul > li.current-menu-parent > a,
		#navbar > ul > li > a:hover {
			color: $white;
		}
	}

	@include media-query(991px) {
		.topbar .social-links {
			display: none;
		}

		.navbar-header button {
			top: 24px;
		}
    }

	.search-quote-infobar {
		float: right;
		height: 85px;
		line-height: 85px;

		@include media-query(991px) {
			margin-right: 55px;
			padding-right: 15px;
		}

		> div {
			display: inline-block;
			float: left;
			height: 85px;
			border-right: 1px solid #ededed;
			padding: 0 25px;
		}

		> div:last-child {
			border-right: 0;

			@include media-query(991px) {
				border-right: 1px solid #ededed;
			}
		}

		@include media-query(1300px) {
			.quote-btn {
				display: none;
			}
		}

		.theme-btn-s2 {
			line-height: initial;
		}

		.side-info {
			display: table;

			> div {
				display: table-cell;
				vertical-align: middle;
			}
		}

		.header-search-area {
			.open-btn {
			    background: transparent;
			    font-size: 20px;
			    font-size: calc-rem-value(20);
				padding: 0;
			}
		}
	}

	.side-info {
	    cursor: pointer;

		button {
			background: transparent;
			padding: 0;
			border: 0;
			outline: 0;
		}

		.info-bars {
			margin-top: 10px;

			@include media-query(991px) {
				display: none;
			}

			span {
				background: $text-color;
				width: 30px;
				height: 2px;
				display: block;
			}

			> span + span {
				margin-top: 7px;
			}

			> span:first-child {
				width: 20px;
				margin-left: 10px;
			}
		}
	}
}

/*** home style 4 side info bar ***/
.side-info-wrapper {
	background: $black;
	position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
	-webkit-transition: all .4s ease-in-out .7s;
	transition: all .4s ease-in-out .7s;
}

.side-info-wrapper-toggle {
	visibility: visible;
    opacity: 0.8;
}

.side-info-wrapper.side-info-wrapper-toggle {
	-webkit-transition: all .4s;
	transition: all .4s;
}

.side-info-wrapper-toggle .side-info-inner {
	-webkit-transition: all .7s ease-in-out .4s;
	transition: all .7s ease-in-out .4s;
}

.side-info-inner {
	background-color: $theme-primary-color;
	width: 400px;
	height: 100%;
	padding: 65px 50px;
	position: fixed;
	right: -400px;
	top: 0;
	z-index: 9999;
	-webkit-transition: all .7s ease-in-out ;
	transition: all .7s ease-in-out ;

	@include media-query(991px) {
		width: 300px;
		padding: 70px 30px;
		right: -300px;
	}


	.side-info-close-btn {
		background-color: transparent;
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		color: $white;
		font-size: 16px;
		font-size: calc-rem-value(16);
		padding: 0;
		border: 2px solid $white;
		@include rounded-border();
		position: absolute;
		left: 20px;
		top: 20px;
	}

	.side-info-close-btn:hover,
	.side-info-close-btn:focus {
		outline: none;
		box-shadow: none;
	}

	.logo {
		text-align: center;
		margin-bottom: 50px;

		img {
			display: inline-block;
			max-width: 150px;
		}

		span {
			font-size: 25px;
			font-size: calc-rem-value(25);
			color: $white;
			font-weight: bold;
			display: block;
			margin: 0.3em 0 1em;

		}
	}

	p {
		color: $white;
		margin: 0 0 2em;
	}

	.info li {
		font-size: 16px;
		font-size: calc-rem-value(16);
		color: $white;
		margin: 0 0 10px;
		position: relative;
		list-style-type: disc;
		list-style-position: inside;

		@include media-query(767px) {
			font-size: 14px;
			font-size: calc-rem-value(14);
		}
	}

	.social-links {
		margin-top: 40px;

		a {
			font-size: 14px;
			font-size: calc-rem-value(14);
			color: $white;
		}

		a:hover {
			color: red;
		}

		li {
			float: left;
			margin-right: 12px;
		}

		li:last-child {
			margin-right: 0;
		}
	}
}

.toggle-side-info {
	right: 0;
}


/*** header-search-form ***/
.header-search-form {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9999;
	background: transparentize($black, 0.35);
	display: none;

	form {
		width: 500px;
		position: absolute;
		left: 50%;
		top: 50%;
		@include center-by-translating();

		@include media-query(767px) {
			width: 300px;
		}

		input {
			height: 60px;
			font-size: 16px;
			padding: 15px 25px;
			border: 0;
			box-shadow: none;
			border-radius: 5px;

			@include media-query(767px) {
				height: 45px;
				font-size: 17px;
			}
		}

		input:focus {
			box-shadow: none;
		}

		.btn {
			background-color: $theme-primary-color;
			width: 60px;
		    height: 100%;
			color: $white;
			position: absolute;
		    right: 0;
		    top: 0;
		    border: 0;
		    border-radius: 0 5px 5px 0;
		}

		.btn:focus,
		.btn:active {
			outline: none;
			box-shadow: none;
		}
	}
}

.header-search-form:hover{
	cursor: url("../images/close_burger.png") 16 16,default
}