/*--------------------------------------------------------------
#0.4	hero slider
--------------------------------------------------------------*/
.hero-slider {
	width: 100%;
	height: 700px;
	display: flex;
	position: relative;
	z-index: 0;

	@include media-query(991px) {
		height: 600px;
	}

	@include media-query(767px) {
		height: 500px;
	}
	
	.swiper-slide {
		overflow: hidden;
		color: #fff;
	}

	.swiper-container {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
	}

	.slide-inner,
	.hero-inner {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
		background-size: cover;
		background-position: center;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: left;
	}


	// slider controls
	.swiper-button-prev,
	.swiper-button-next {
		background: rgba(255,255,255, 0.3);
		width: 60px;
		height: 60px;
		line-height: 60px;
		margin-top: -30px;
		text-align: center;
		border-radius: 60px;

		@include media-query(767px) {
			display: none;
		}
	} 

	.swiper-button-prev {
		left: 25px;

		&:before {
			font-family: "themify";
		    content: "\e629";
		    font-size: 20px;
		    color: #fff;
		}
	}

	.swiper-button-next {
		right: 25px;

		&:before {
			font-family: "themify";
		    content: "\e628";
		    font-size: 20px;
		    color: #fff;
		}
	}

	.swiper-pagination-bullet {
		width: 10px;
		height: 10px;
		text-align: center;
		line-height: 15px;
		font-size: 12px;
		color:#000;
		opacity: 1;
		background: rgba(0,0,0,0.2);
	}

	.swiper-pagination-bullet-active {
		color:#fff;
		background: $theme-primary-color;
	}

	.swiper-pagination-bullets, 
	.swiper-pagination-fraction {
		bottom: 20px;
	}
}


/*--------------------------------------------------------------
	#hero-style-1
--------------------------------------------------------------*/
.hero-style-1 {
	height: 100vh;

	@include media-query(991px) {
		height: 600px;
	}

	@include media-query(767px) {
		height: 500px;
	}

	.container {
		@include widther(992px) {
			padding-top: 38px;
		}
	}

	.slide-inner {
		text-align: center;
	}

	.slide-title {
		max-width: 790px;
		margin: 0 auto;

		h2 {
			font-size: 82px;
			font-size: calc-rem-value(82);
			font-weight: bold;
			color: $white;
			margin: 0 0 0.24em;
			text-transform: uppercase;

			@include media-query(1199px) {
				font-size: 62px;
				font-size: calc-rem-value(62);
			}

			@include media-query(991px) {
				font-size: 50px;
				font-size: calc-rem-value(50);
			}

			@include media-query(767px) {
				font-size: 35px;
				font-size: calc-rem-value(35);
			}
		}
	}

	.slide-text {
		max-width: 800px;
		margin: 0 auto;

		p {
			font-size: 22px;
			font-size: calc-rem-value(22);
			font-weight: 600;
			color: $white;
			margin: 0 0 1.63em;

			@include media-query(767px) {
				font-size: 17px;
				font-size: calc-rem-value(17);
			}
		}
	}

	/*** bottom-links ***/
	.bottom-links {
		background: $white;
		border-bottom: 1px solid #ebebeb;
	    z-index: 10;
	    position: absolute;
	    left: 0;
	    bottom: 0;
	    overflow: hidden;

	    @include media-query(991px) {
			display: none;
	    }

	    > div {
	    	float: left;
	    }

	    > div:last-child {
	    	border-left: 1px solid #ebebeb;
	    }

	    a {
	    	min-width: 245px;
	    	display: block;
	    	padding: 30px 25px 25px 60px;
	    	position: relative;
	    }

	    .fi:before {
	    	font-size: 35px;
	    	font-size: calc-rem-value(35);
	    	color: $theme-primary-color;
	    }

	    i {
	    	position: absolute;
	    	left: 15px;
	    	top: 50%;
	    	@include translatingY();
	    }

	    h4 {
	    	font-size: 16px;
	    	font-size: calc-rem-value(16);
	    	font-weight: bold;
	    	margin: 0;
	    }

	    p {
	    	font-size: 14px;
	    	font-size: calc-rem-value(14);
	    	margin: 0;
	    }

	    a:hover {
	    	background-color: $theme-primary-color;

	    	.fi:before,
	    	p,
	    	h4 {
	    		color: $white;
	    	}
	    }
	}

    .pagi {
    	background-color: $white;
    	width: 150px;
	    height: 95px;
		border-bottom: 1px solid #ebebeb;
	    position: absolute;
	    right: 0;
	    bottom: 0;
	    z-index: 1;

	    @include media-query(991px) {
			display: none;
	    }
    }

	// slider controls
	.swiper-button-prev,
	.swiper-button-next {
		width: 40px;
		height: 40px;
		line-height: 35px;
		margin-top: 0;
		text-align: center;
		border-radius: 60px;
		border: 2px solid $theme-primary-color;
		position: absolute;
		top: 50%;
		@include translatingY();

		@include media-query(767px) {
			display: none;
		}

		&:hover {
			background-color: $theme-primary-color;
		}
	} 

	.swiper-button-prev {
		left: 30px;

		&:before {
			font-family: "Flaticon";
		    content: "\f128";
		    font-size: 13px;
		    color: $theme-primary-color;
		}
	}

	.swiper-button-next {
		right: 30px;

		&:before {
			font-family: "Flaticon";
		    content: "\f129";
		    font-size: 13px;
		    color: $theme-primary-color;
		}
	}

	.swiper-button-prev:hover:before,
	.swiper-button-next:hover:before {
		color: $white !important;
	}

	.swiper-pagination {
		@include widther(992px) {
			display: none;
		}
	}
}


/*--------------------------------------------------------------
	#hero-style-2
--------------------------------------------------------------*/
.hero-style-2 {
	@extend .hero-style-1;
	@include widther(1200px) {
		max-height: 875px;
	}

	.container {
		@include widther(992px) {
			padding-top: 0;
			margin-top: -14px;
		}
	}

	.slide-inner {
		text-align: left;
	}

	.slide-title {
		max-width: 790px;
		margin: 0;

		h2 {
			font-size: 70px;
			font-size: calc-rem-value(70);
			font-weight: bold;
			text-transform: none;

			@include media-query(1199px) {
				font-size: 62px;
				font-size: calc-rem-value(62);
			}

			@include media-query(991px) {
				font-size: 50px;
				font-size: calc-rem-value(50);
			}

			@include media-query(767px) {
				font-size: 35px;
				font-size: calc-rem-value(35);
			}
		}

		h2 span {
			font-weight: normal;
		}
	}

	.slide-text {
		margin: 0;
	}
}


/*--------------------------------------------------------------
	#hero-style-3
--------------------------------------------------------------*/
.hero-style-3 {
	@extend .hero-style-1;

	@include widther(992px) {
		height: calc(100vh - 246px);
		margin-top: 153px;
	}

	.container {
		@include widther(992px) {
			padding-top: 0;
			margin-top: -10px;
		}
	}

	@include widther(992px) {
		.slide-inner {
			background-position: center top;
		}
	}

	.pagi {
		background: transparent;
	    width: 236px;
	    border: 0;
	    left: 50%;
	    bottom: 85px;
	    height: auto;
	    @include translatingX(-50%);
	}

	// slider controls
	.swiper-button-prev,
	.swiper-button-next {
		background-color: transparent;
		width: 50%;
		height: 100%;
		font-size: 18px;
		font-size: calc-rem-value(18px);
		font-weight: 600;
		color: $white;
		float: left;
		line-height: normal;
		margin-top: 0;
		text-align: center;
		border-radius: 0;
		border: 0;
		position: relative;
		top: 0;
		text-transform: uppercase;
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		transform: none;

		&:hover {
			background-color: transparent;
		}
	} 

	.swiper-button-prev {
		text-align: left;
		padding-left: 35px;
		left: 0;

		&:before {
			font-family: "Flaticon";
		    content: "\f101";
		    font-size: 20px;
		    color: $white;
		    position: absolute;
		    left: 0;
		}
	}

	.swiper-button-next {
		text-align: right;
		padding-right: 35px;
		right: 0;
		border-left: 1px solid $white;

		&:before {
			font-family: "Flaticon";
		    content: "\f102";
		    font-size: 20px;
		    color: $white;
		    position: absolute;
		    right: 0;
		}
	}

	.slide-title {
		max-width: 100% !important;
		margin: 0 auto;
		word-break: break-word;

		h2 {
			font-size: 190px;
			font-size: calc-rem-value(190);
			text-shadow: 0px 0px 21.17px rgba(35, 61, 98, 0.22);

			@include media-query(1199px) {
				font-size: 145px;
				font-size: calc-rem-value(145);
			}

			@include media-query(991px) {
				font-size: 120px;
				font-size: calc-rem-value(120);
			}

			@include media-query(767px) {
				font-size: 80px;
				font-size: calc-rem-value(80);
			}
		}
	}
}


/*--------------------------------------------------------------
	#static-hero
--------------------------------------------------------------*/
.static-hero {
	background: $theme-primary-color;
	height: 750px;
	display: flex;
	position: relative;
	z-index: 0;
	overflow: hidden;

	@include media-query(1199px) {
		height: 680px;
	}

	@include media-query(991px) {
		height: 500px;
	}

	@include media-query(767px) {
		height: 400px;
	}

	.container {
		@include widther(992px) {
			padding-top: 0;
			margin-top: -16px;
		}
	}

		.hero-shape {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		-webkit-transform: rotate(50deg) scale(1,2.5);
		transform: rotate(50deg) scale(1,2.5);

		> div:first-child {
			background: darken($theme-primary-color, 1.5%);
			width: 20%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
		}

		> div:nth-child(2) {
			background: darken($theme-primary-color, 1.5%);
			width: 30%;
			height: 100%;
			position: absolute;
			left: 35%;
			top: 0;
		}

		> div:nth-child(3) {
			background: darken($theme-primary-color, 1.5%);
			width: 20%;
			height: 100%;
			position: absolute;
			left: 80%;
			top: 0;
		}
	}

	.hero-inner .container {
		position: relative;
	}

	.consultant-pic {
		position: absolute;
		right: 0;
		bottom: -270px;

		@include media-query(1199px) {
			width: 485px;
			height: 609px;
			bottom: -200px;
		}

		@include media-query(991px) {
			display: none;
		}
	}

	.slide-title {
		max-width: 790px;

		h2 {
			font-size: 70px;
			font-size: calc-rem-value(70);
			font-weight: bold;
			color: $white;
			margin: 0 0 0.24em;

			@include media-query(1199px) {
				font-size: 62px;
				font-size: calc-rem-value(62);
			}

			@include media-query(991px) {
				font-size: 50px;
				font-size: calc-rem-value(50);
			}

			@include media-query(767px) {
				font-size: 35px;
				font-size: calc-rem-value(35);
			}
		}
	}

	.slide-text {
		max-width: 560px;

		p {
			font-size: 22px;
			font-size: calc-rem-value(22);
			font-weight: 600;
			color: $white;
			margin: 0 0 1.63em;

			@include media-query(767px) {
				font-size: 17px;
				font-size: calc-rem-value(17);
			}
		}
	}


	.swiper-slide .container {
		@include widther(992px) {
			padding-top: 10px;
		}
	}
}





