/*--------------------------------------------------------------
	#about-page
--------------------------------------------------------------*/
/*--------------------------------------------------------------
#5.1	fun-fact-section
--------------------------------------------------------------*/
.fun-fact-section {
	
	.fun-fact-grids {

		.grid {
			float: left;

			@include media-query(500px) {
				width: 100%;
				float: none;
			}
		}



		.grid {
			background-color: $white;
			width: 33.33%;
			text-align: left;
			padding: 0;

			@include media-query(991px) {
				padding-right: 15px;
			}

			@include media-query(767px) {
				width: 50%;
				margin-bottom: 45px;

				&:last-child {
					margin-bottom: 0;
				}
			}

			@include media-query(550px) {
				width: 100%;
				float: none;
				padding-right: 0;
			}
		}

		@include widther(1200px) {
			.grid {
				padding-right: 45px;
			}
		}

		h3 {
			color: $heading-color;
			font-size: 48px;
			font-size: calc-rem-value(48);
			margin: 0;
			margin-top: -0.25em;

			@include media-query(991px) {
				font-size: 38px;
				font-size: calc-rem-value(38);
				padding-right: 15px;
			}

			@include media-query(767px) {
				font-size: 38px;
				font-size: calc-rem-value(38);
			}
		}

		p {
			text-transform: uppercase;
			color: $heading-color;
			font-weight: 600;
			font-size: 16px;
			font-size: calc-rem-value(16);
			margin-bottom: 1em;

			@include media-query(991px) {
				font-size: 14px;
				font-size: calc-rem-value(14);
			}
		}

		.info p:nth-child(3) {
			text-transform: none;
			color: $text-color;
			font-weight: normal;
			margin-bottom: 2.5em;

			@include media-query(767px) {
				margin-bottom: 1.5em;
			}
		}
	}
}