/*--------------------------------------------------------------
	#blog-page
--------------------------------------------------------------*/
/*--------------------------------------------------------------
#9.1	blog-pg-section
--------------------------------------------------------------*/
.blog-pg-section {
	.blog-content {

		.post {
			margin-bottom: 100px;

			@include media-query(991px) {
				margin-bottom: 70px;
			}

			@include media-query(767px) {
				margin-bottom: 60px;
			}
		}
	}

	.entry-meta {
		list-style: none;
		overflow: hidden;
		margin: 35px 0;

		@include media-query(767px) {
			margin: 25px 0;
		}

		li {
			font-weight: 600;
			font-size: 15px;
			font-size: calc-rem-value(15);
			float: left;
			position: relative;

			@include media-query(767px) {
				font-size: 14px;
				font-size: calc-rem-value(14);
			}

			@include media-query(600px) {
				float: none;
				display: block;
				margin-bottom: 5px;
			}

			.fi:before {
				font-size: 20px;
				font-size: calc-rem-value(20);
				font-weight: 500;
				color: $theme-primary-color;
				display: inline-block;
				padding-right: 5px;

				@include media-query(767px) {
					font-size: 18px;
					font-size: calc-rem-value(18);
				}
			}
		}

		> li + li {
			margin-left: 20px;
			padding-left: 20px;
			position: relative;

			@include media-query(600px) {
				margin-left: 0;
				padding-left: 0;
			}
		}

		li a {
			color: #636893;

			&:hover {
				color: $theme-primary-color;
			}
		}

		li:last-child i {
			position: relative;
			top: 1px;
		}

		> li:nth-child(2) i {
			position: relative;
			top: 3px;
		}
	}

	.post {
		h3 {
			font-size: 32px;
			font-size: calc-rem-value(32);
			line-height: 1.2em;
			margin: -0.37em 0 0.6em;

			@include media-query(991px) {
				font-size: 30px;
				font-size: calc-rem-value(30);
			}

			@include media-query(767px) {
				font-size: 25px;
				font-size: calc-rem-value(25);
			}
		}

		h3 a {
			color: $heading-color;
		}

		h3 a:hover {
			color: $theme-primary-color;
		}

		p {
			margin-bottom: 1.8em;

			@include media-query(991px) {
				font-size: 16px;
				font-size: calc-rem-value(16);
			}
		}
	}

	/*** format-standard ***/
	.format-standard,
	.format-quote {
		border: 2px solid #f4f4f4;
		padding: 5px 35px 55px;

		@include media-query(767px) {
			padding: 15px 20px 45px;
		}
	}

	/*** format-gallery ***/
	.format-gallery {
		position: relative;

		.owl-controls {
			width: 100%;
			margin: 0;
			position: absolute;
			left: 0;
			top: 50%;
			@include translatingY();
		}

		.owl-controls .owl-nav [class*=owl-]:hover {
			background: $theme-primary-color;
		}

		.owl-controls .owl-nav [class*=owl-] {
			background: transparentize($theme-primary-color, 0.5);
			width: 50px;
			height: 50px;
			line-height: 50px;
			padding: 0;
			margin: 0;
			border-radius: 50%;
			@include transition-time(0.3s);
		}

		.owl-controls .owl-nav .owl-prev,
		.owl-controls .owl-nav .owl-next {
			position: absolute;
			top: 50%;
			@include translatingY();
		}

		.owl-controls .owl-nav .owl-prev {
			left: 15px;
		}

		.owl-controls .owl-nav .owl-next {
			right: 15px;
		}
	}

	/*** format-quote ***/
	.format-quote {
		background-color: #f9f9f9;
		position: relative;

		&:before {
			font-family: "Flaticon";
			content: "\f12a";
			font-size: 80px;
			font-size: calc-rem-value(80);
			color: transparentize($theme-primary-color, 0.8);
			margin-left: 0;
			position: absolute;
			right: 35px;
			bottom: 25px;
		}

		h3,
		p {
			position: relative;
		}
	}

	/*** format-video ***/
	.format-video .video-holder {
		position: relative;
		text-align: center;

		a {
			background-color: $theme-primary-color;
			width: 75px;
			height: 75px;
			line-height: 75px;
			border-radius: 50%;
			text-align: center;
			position: absolute;
			left: 50%;
			top: 50%;
			@include center-by-translating();

			@include media-query(767px) {
				width: 65px;
				height: 65px;
				line-height: 65px;
			}
		}

		a:hover {
			background-color: darken($theme-primary-color, 10%);
		}

		.fi:before {
			font-size: 25px;
			font-size: calc-rem-value(25);
			color: $white;
		}
	}
}

.blog-grid-2-columns {
	.blog-content .post {
		width: calc(50% - 30px);
		float: left;
		margin: 0 15px 30px;

		margin-bottom: 80px;

		@include media-query(991px) {
			margin-bottom: 70px;
		}

		@include media-query(767px) {
			margin-bottom: 60px;
		}

		@include media-query(650px) {
			width: 100%;
			float: none;
			margin-left: 0;
			margin-right: 0;
		}
	}

	@include media-query(1199px) {
		.entry-meta li {
			float: none;
			display: block;
			margin-bottom: 5px;
		}

		.entry-meta > li + li {
			margin-left: 0;
			padding-left: 0;
		}

		.post h3 {
			font-size: 28px;
			font-size: calc-rem-value(28);
		}
	}

	@include media-query(991px) {
		.post h3 {
			font-size: 24px;
			font-size: calc-rem-value(24);
		}
	}

	@include media-query(650px) {
		.post h3 {
			font-size: 20px;
			font-size: calc-rem-value(20);
		}
	}
}

.blog-grid-3-columns {
	.blog-content .post {
		width: calc(33.33% - 30px);
		float: left;
		margin: 0 15px 30px;
		margin-bottom: 80px;

		@include media-query(1199px) {
			max-height: 529px;
		}

		@include media-query(991px) {
			width: calc(50% - 30px);
			margin-bottom: 70px;
			//max-height: auto;
		}

		@include media-query(767px) {
			margin-bottom: 60px;
		}

		@include media-query(650px) {
			width: 100%;
			float: none;
			margin-left: 0;
			max-height: none;
			margin-right: 0;
		}
	}

	.entry-meta {
		margin: 35px 0 20px;

		@include media-query(767px) {
			margin: 25px 0;
		}
	}

	.post h3 {
		font-size: 25px;
		font-size: calc-rem-value(25);
	}


	@include media-query(991px) {
		.post h3 {
			font-size: 24px;
			font-size: calc-rem-value(24);
		}
	}

	@include media-query(650px) {
		.post h3 {
			font-size: 20px;
			font-size: calc-rem-value(20);
		}
	}
}

.blog-grid-4-columns {
	.blog-content .post {
		width: calc(25% - 30px);
		float: left;
		margin: 0 15px 30px;
		margin-bottom: 80px;

		&:nth-child(4n+1) {
			clear: left;
		}

		@include media-query(1199px) {
			width: calc(33.33% - 30px);

			&:nth-child(4n+1) {
				clear: none;
			}

			&:nth-child(3n+1) {
				clear: left;
			}
		}

		@include media-query(991px) {
			width: calc(50% - 30px);
			margin-bottom: 70px;
			
			&:nth-child(3n+1) {
				clear: none;
			}

			&:nth-child(4n+1) {
				clear: none;
			}
			
			&:nth-child(2n+1) {
				clear: left;
			}
		}

		@include media-query(767px) {
			margin-bottom: 60px;
		}

		@include media-query(650px) {
			width: 100%;
			float: none;
			margin-left: 0;
			max-height: none;
			margin-right: 0;
			
			&:nth-child(3n+1),
			&:nth-child(4n+1),
			&:nth-child(2n+1) {
				clear: both;
			}
		}
	}

	.entry-meta {
		margin: 35px 0 20px;

		@include media-query(767px) {
			margin: 25px 0;
		}
	}

	.post h3 {
		font-size: 25px;
		font-size: calc-rem-value(25);
	}


	@include media-query(991px) {
		.post h3 {
			font-size: 24px;
			font-size: calc-rem-value(24);
		}
	}

	@include media-query(650px) {
		.post h3 {
			font-size: 20px;
			font-size: calc-rem-value(20);
		}
	}

}

.blog-grid-2-columns-sidebar {
	.blog-content .post {
		width: calc(50% - 30px);
		float: left;
		margin: 0 15px 30px;
		margin-bottom: 80px;

		@include widther(992px) {
			&:nth-child(2n+1) {
				clear: left;
			}
		}

		@include media-query(991px) {
			margin-bottom: 70px;
		}

		@include media-query(767px) {
			margin-bottom: 60px;
		}

		@include media-query(650px) {
			width: 100%;
			float: none;
			margin-left: 0;
			margin-right: 0;
		}
	}

	@include media-query(1199px) {
		.entry-meta li {
			float: none;
			display: block;
			margin-bottom: 5px;
		}

		.entry-meta > li + li {
			margin-left: 0;
			padding-left: 0;
		}
	}

	.post h3 {
		font-size: 25px;
		font-size: calc-rem-value(25);
	}


	@include media-query(991px) {
		.post h3 {
			font-size: 24px;
			font-size: calc-rem-value(24);
		}
	}

	@include media-query(650px) {
		.post h3 {
			font-size: 20px;
			font-size: calc-rem-value(20);
		}

		.pagination-wrapper {
			text-align: left;
		}
	}

	.blog-sidebar {
		padding-left: 0;
	}	
}

.blog-masonry-2-columns {
	.grid-item {
		width: 50%;
	    float: left;
	    clear: none;
	    padding: 0 15px;
	    overflow: hidden;

	    @include media-query(650px) {
	    	width: 100%;
	    	float: none;
	    	padding: 0;
	    }
	}

	.blog-content .post {
		margin-bottom: 80px;

		@include media-query(991px) {
			margin-bottom: 70px;
		}

		@include media-query(767px) {
			margin-bottom: 60px;
		}

		@include media-query(650px) {
			width: 100%;
			float: none;
			margin-left: 0;
			margin-right: 0;
		}
	}

	.post h3 {
		font-size: 28px;
		font-size: calc-rem-value(28);

		@include media-query(991px) {
			font-size: 24px;
			font-size: calc-rem-value(24);
		}

		@include media-query(650px) {
			font-size: 20px;
			font-size: calc-rem-value(20);
		}
	}
}

.blog-masonry-3-columns {
	@extend .blog-masonry-2-columns;
	
	.grid-item {
		width: 33.33%;
	    float: left;
	    clear: none;
	    padding: 0 15px;
	    overflow: hidden;

	    @include media-query(991px) {
	    	width: 50%;
	    }

	    @include media-query(650px) {
	    	width: 100%;
	    	float: none;
	    	padding: 0;
	    }
	}

	.post h3 {
		font-size: 28px;
		font-size: calc-rem-value(28);

		@include media-query(1199px) {
			font-size: 24px;
			font-size: calc-rem-value(24);
		}

		@include media-query(650px) {
			font-size: 20px;
			font-size: calc-rem-value(20);
		}
	}
}

.blog-masonry-4-columns {
	@extend .blog-masonry-3-columns;
	.grid-item {
		width: 25%;
	    float: left;
	    clear: none;
	    padding: 0 15px;
	    overflow: hidden;

	    @include media-query(1199px) {
	    	width: 33.33%;
	    }

	    @include media-query(991px) {
	    	width: 50%;
	    }

	    @include media-query(650px) {
	    	width: 100%;
	    	float: none;
	    	padding: 0;
	    }
	}
	.post h3 {
		font-size: 26px;
		font-size: calc-rem-value(26);

		@include media-query(1199px) {
			font-size: 24px;
			font-size: calc-rem-value(24);
		}

		@include media-query(650px) {
			font-size: 20px;
			font-size: calc-rem-value(20);
		}
	}
}

.blog-masonry-2-columns-sidebar {
	@extend .blog-masonry-2-columns;
	
	.post h3 {
		font-size: 26px;
		font-size: calc-rem-value(26);

		@include media-query(991px) {
			font-size: 24px;
			font-size: calc-rem-value(24);
		}

		@include media-query(650px) {
			font-size: 20px;
			font-size: calc-rem-value(20);
		}
	}

	.blog-sidebar {
		padding-left: 0;
	}
}

.blog-pg-left-sidebar {
	.blog-sidebar {
		@include widther(1200px) {
			padding-right: 45px;
			padding-left: 0;
		}
	}
}

.blog-pg-fullwidth {
	.blog-content {
		@include widther(1200px) {
			padding: 0;
		}
	}
}




