/*--------------------------------------------------------------
	#case-studies-page
--------------------------------------------------------------*/
/*--------------------------------------------------------------
#12.1	case-studies-section
--------------------------------------------------------------*/
.case-studies-section {

	.case-studies-grids .grid {
		position: relative;
		text-align: center;

		.overlay {
			background: $theme-primary-color;
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 50%;
			opacity: 0;
			@include transition-time(0.5s);
		}

		&:hover {
			cursor: grab;
		}

		&:hover .overlay {
			top: 0;
			opacity: 0.9;
		}

		.content {
			width: 100%;
			position: absolute;
			left: 0;
			top: 50%;
			@include translatingY();
		}

		.cat {
			font-size: 14px;
			font-size: calc-rem-value(14);
			color: $white;
			font-weight: 700;
			margin: 0;
		}

		h3 {
			font-size: 20px;
			font-size: calc-rem-value(20);
			margin: 0;
		}

		h3 a {
			color: $white;
		}

		h3 a:hover {
			color: $white;
			text-decoration: underline;
		}
	}
}
