/*--------------------------------------------------------------
#0.6	about-section
--------------------------------------------------------------*/
.about-section {
	background: -webkit-linear-gradient(left, $white 50%, transparentize($theme-primary-color, 0.9) 50%);
	background: -moz-linear-gradient(left, $white 50%, transparentize($theme-primary-color, 0.9) 50%);
	background: -o-linear-gradient(left, $white 50%, transparentize($theme-primary-color, 0.9) 50%);
	background: -ms-linear-gradient(left, $white 50%, transparentize($theme-primary-color, 0.9) 50%);
	background: linear-gradient(left, $white 50%, transparentize($theme-primary-color, 0.9) 50%);
	padding-bottom: 0;

	.inner {
		.left-col,
		.right-col {
			width: 50%;
			float: left;

			@include media-query(1199px) {
				width: 100%;
				float: none;
			}
		}
	}

	@include widther(1200px) {
		.details {
			padding-right: 45px;
		}
	}

	.details p {
		margin-bottom: 2em;
	}

	.details h5 {
		font-size: 18px;
		font-size: calc-rem-value(18);
		margin: 0;
	}

	.fun-fact-grids {
		margin-top: 113px;

		@include media-query(1199px) {
			margin-top: 70px;
		}

		@include media-query(991px) {
			margin-top: 55px;
		}

		> .grid:nth-child(2),
		> .grid:nth-child(3) {
			background-color: transparentize($theme-primary-color, 0.1);
		}

		@include media-query(500px) {
			> .grid:nth-child(2),
			> .grid:nth-child(4) {
				background-color: transparentize($theme-primary-color, 0.1);
			}

			> .grid:nth-child(3) {
				background-color: $theme-primary-color;
			}
		}

		.grid {
			background-color: $theme-primary-color;
			width: 50%;
			float: left;
			text-align: center;
			padding: 41px 15px 41px;

			@include media-query(500px) {
				width: 100%;
				float: none;
			}
		}

		.fi:before {
			font-size: 45px;
			font-size: calc-rem-value(45);
			color: $white;
		}

		h3 {
			font-size: 48px;
			font-size: calc-rem-value(48);
			color: $white;
			margin: 0;

			@include media-query(767px) {
				font-size: 38px;
				font-size: calc-rem-value(38);
			}
		}

		p {
			font-size: 14px;
			font-size: calc-rem-value(14);
			color: $white;
			font-weight: 500;
			margin: 0;
			text-transform: uppercase;
		}
	}

	.about-info {
		margin-bottom: 114px;
		padding-left: 85px;

		@include media-query(1199px) {
			padding-left: 0;
			margin: 75px 0 85px;
		}

		h3 {
			font-size: 26px;
			font-size: calc-rem-value(26);
			margin: -0.3em 0 0.46em;
			line-height: 1.34em;

			@include media-query(991px) {
				font-size: 22px;
				font-size: calc-rem-value(22);
			}
		}

		p {
			margin-bottom: 2em;
		}
	}
}


/*--------------------------------------------------------------
#0.7	service-section
--------------------------------------------------------------*/
.service-section {
	padding-bottom: 105px;

	@include media-query(991px) {
		padding-bottom: 70px;
	}

	@include media-query(676px) {
		padding-bottom: 60px;
	}

	.service-slider {
		text-align: center;
		padding-top: 15px;
	}

	.grid {
		.fi:before {
			font-size: 65px;
			font-size: calc-rem-value(65);
			color: $theme-primary-color;

			@include media-query(991px) {
				font-size: 55px;
				font-size: calc-rem-value(55);
			}
		}

		h3 {
			font-size: 20px;
			font-size: calc-rem-value(20);
			font-weight: bold;
			margin: 0;
			@include transition-time(0.3s);

			@include media-query(991px) {
				font-size: 18px;
				font-size: calc-rem-value(18);
			}
		}

		a:hover h3 {
			color: $theme-primary-color;
		}
	}

	.owl-theme .owl-controls {
	    margin-top: 45px;
	}

	.owl-theme .owl-controls .owl-nav [class*=owl-] {
	    width: 45px;
	    height: 45px;
	    line-height: 45px;
	    background: $white;
	    padding: 0;
	    color: $heading-color;
	    border-radius: 50%;
		border: 2px solid $theme-primary-color;

		@include media-query(1199px) {
			margin: 5px;
		}

		&:hover {
			background: $theme-primary-color;
			color: $white;

			.fi:before {
				color: $white;
			}
		}

		.fi:before {
			font-size: 14px;
			font-size: calc-rem-value(14);
			color: $theme-primary-color;
		}

	}
}


/*--------------------------------------------------------------
#0.8	cta-section
--------------------------------------------------------------*/
.cta-section {
	padding-top: 0;
	padding-bottom: 0;

	background: -webkit-linear-gradient(left, $white 50%, transparentize($theme-primary-color, 0.9) 50%);
	background: -moz-linear-gradient(left, $white 50%, transparentize($theme-primary-color, 0.9) 50%);
	background: -o-linear-gradient(left, $white 50%, transparentize($theme-primary-color, 0.9) 50%);
	background: -ms-linear-gradient(left, $white 50%, transparentize($theme-primary-color, 0.9) 50%);
	background: linear-gradient(left, $white 50%, transparentize($theme-primary-color, 0.9) 50%);

	.inner {

		@include media-query(991px) {
		    padding-top: 60px;
		}

		.left-col,
		.right-col {
			width: 50%;
			float: left;

			@include media-query(991px) {
				width: 100%;
				float: none;
			}
		}
	}


	.details {
		padding-top: 10px;
		padding-right: 45px;

		@include media-query(991px) {
			padding: 0;
		}
	}

	.contact-info {
	    position: relative;
	    padding: 85px 0 85px 95px;

	    @include media-query(991px) {
			padding: 15px 0 55px;
		}

	    p {
	    	font-size: 14px;
	    	font-size: calc-rem-value(14);
	    	font-weight: 600;
	    	margin: 0;
	    	text-transform: uppercase;
	    }

	    h2 {
	    	font-size: 36px;
	    	font-size: calc-rem-value(36);
	    	color: $theme-primary-color;
	    	margin: 0.4em 0 1em;

	    	@include media-query(991px) {
		    	font-size: 30px;
		    	font-size: calc-rem-value(30);
			}

	    	@include media-query(767px) {
		    	font-size: 25px;
		    	font-size: calc-rem-value(25);
			}
	    }
	}

	.video-area {
		position: relative;

		.video-btns {
			position: absolute;
			left: 50%;
			@include translatingX();
			top: -42px;

			@include media-query(767px) {
			    top: -32px;
			}
		}

		.video-btns a {
			background-color: $theme-primary-color;
		    width: 85px;
		    height: 85px;
		    line-height: 85px;
		    color: $white;
		    text-align: center;
		    border-radius: 65px;
		    display: inline-block;
			box-shadow: 0px 0px 35.77px 13.23px rgba(35, 61, 98, 0.24);

			@include media-query(767px) {
			    width: 65px;
			    height: 65px;
			    line-height: 65px;
			}
		}

		.fi:before {
			font-size: 25px;
			font-size: calc-rem-value(25);
		}

		.experience-text {
			position: absolute;
			left: 50px;
			bottom: 50px;

			@include media-query(991px) {
				left: 20px;
				bottom: 20px;
			}

			span {
				font-size: 113px;
				font-size: calc-rem-value(113);
				position: absolute;
				left: 0;
				top: 0;

				@include media-query(991px) {
					font-size: 80px;
					font-size: calc-rem-value(80);
				}
			}

			p {
				font-size: 24px;
				font-size: calc-rem-value(24);
				line-height: 1.3em;
				font-weight: bold;
				color: $white;
				text-transform: uppercase;
				margin: 0;
				position: relative;
				padding-left: 115px;

				@include media-query(991px) {
					font-size: 17px;
					font-size: calc-rem-value(17);
					padding-left: 85px;
				}
			}
		}
	}
}


/*--------------------------------------------------------------
#0.9	policy-section
--------------------------------------------------------------*/
.policy-section {
	padding-bottom: 80px;
	position: relative;

	@include media-query(991px) {
		padding-bottom: 70px;
	}

	@include media-query(767px) {
		padding-bottom: 75px;
	}


	.policy-grids {
		margin: 30px -15px 0;

		@include media-query(767px) {
			margin: 0 -7px;
		}

		.grid {
			background-color: $white;
			width: calc(33.33% - 30px);
			float: left;
			margin: 0 15px 30px;
			padding: 70px 55px;
			text-align: center;
			@include transition-time(0.3s);
			box-shadow: 0px 4px 24.03px 2.97px rgba(25, 38, 62, 0.05);
			border-radius: 3px;
			position: relative;
			overflow: hidden;

			@include media-query(1199px) {
				padding: 45px 35px 50px;
			}

			@include media-query(991px) {
				width: calc(50% - 30px);
			}

			@include media-query(767px) {
				width: calc(50% - 15px);
				margin: 0 7px 15px;
				padding: 35px 25px 40px;
			}

			@include media-query(600px) {
				width: calc(100% - 15px);
				float: none;
			}
		}

		> .grid:nth-child(2) {
			box-shadow: 0px 4px 40.94px 5.06px rgba(25, 38, 62, 0.12);

			.theme-btn-s3 {
				background-color: transparentize($theme-primary-color, 0.8);

				&:hover {
					background-color: $theme-primary-color;
				}
			}
		}
	}

	.hilight-tag {
		background-color: $theme-primary-color;
	    font-size: 14px;
	    font-size: calc-rem-value(14);
	    font-weight: 600;
	    padding: 4px 50px 5px 30px;
	    color: #fff;
	    line-height: 26px;
		position: absolute;
	    top: 15px;
	    left: -30px;
	    z-index: 1;
	    transform: rotate(-38deg);
	    -webkit-transform: rotate(-38deg);
	}

	.policy-header {
		h5 {
			font-size: 24px;
			font-size: calc-rem-value(24);
			font-weight: 600;
			margin: 0 0 0.5em;

			@include media-query(991px) {
				font-size: 20px;
				font-size: calc-rem-value(20);
			}
		}

		i {
			display: block;
		}

		.fi:before {
			font-size: 70px;
			font-size: calc-rem-value(70);
			color: $heading-color;
		}
	}

	.policy-body {
		margin-top: 25px;
		
		ul {
			margin-bottom: 35px;
		}

		li {
			font-size: 15px;
			font-size: calc-rem-value(15);
		}

		ul > li + li {
			border-top: 1px solid #efefef;
			padding-top: 12px;
			margin-top: 12px;
		}
	}
}


/*--------------------------------------------------------------
#1.0	cta-s2-section
--------------------------------------------------------------*/
.cta-s2-section {
	.content-area {
		background-color: transparentize($theme-primary-color, 0.9);
		padding: 90px 0 105px;
		position: relative;

		@include media-query(991px) {
			padding-right: 15px;
			padding: 70px 0 85px;
		}

		@include media-query(767px) {
			padding: 60px 0 75px;
		}

		&:before {
			content: "";
			background-color: transparentize($theme-primary-color, 0.9);
			width: 100%;
			height: 100%;
			position: absolute;
			left: -100%;
			top: 0;
		}

		.left-col,
		.right-col {
			width: 50%;
			float: left;

			@include media-query(991px) {
				width: 100%;
				float: none;
			}
		}

		.right-col {
			position: absolute;
		    right: 0;
		    top: 0;

		    @include media-query(991px) {
				display: none;
			}
		}

		.img-holder img {
			position: relative;
			top: -140px;
			right: -80px;

			@include media-query(1199px) {
				top: -116px;
			}
		}

		.text {
			background-color: $theme-primary-color;
			width: 195px;
			height: 226px;
			padding: 0 45px;
			border: 7px solid transparentize($white, 0.2);
			border-radius: 50%;
			position: absolute;
			left: -32px;
			top: -80px;
			text-align: center;
			display: table;
			z-index: 1;

			&:before {
				content: "";
				background-color: $theme-primary-color;
				width: 24px;
				height: 24px;
				border-radius: 50px;
				position: absolute;
				right: -0;
				bottom: -3px;
			}

			&:after {
				content: "";
				background-color: $theme-primary-color;
				width: 15px;
				height: 15px;
				border-radius: 50px;
				position: absolute;
				right: -23px;
				bottom: -29px;
			}

			p {
				font-size: 19px;
				font-size: calc-rem-value(19);
				font-weight: bold;
				color: $white;
				margin: 0;
				display: table-cell;
				vertical-align: middle;
			}
		}
	}

	h2 {
		font-size: 48px;
		font-size: calc-rem-value(48);
		margin: 0.2em 0 0.4em;
		position: relative;

		@include media-query(991px) {
			font-size: 38px;
			font-size: calc-rem-value(38);
		}

		@include media-query(767px) {
			font-size: 30px;
			font-size: calc-rem-value(30);
		}
	}

	ul {
		padding-top: 20px;
	}

	ul li {
		position: relative;
		padding-left: 20px;
		position: relative;

		&:before {
			content: "";
			width: 10px;
			height: 10px;
			background-color: $theme-primary-color;
			border-radius: 50%;
			position: absolute;
			left: 0;
			top: 7px;
		}

		a {
			color: $text-color;
			font-weight: 600;
			text-decoration: underline;
		}

		a:hover {
			color: $theme-primary-color;
		}
	}

	ul > li + li {
		margin-top: 7px;
	}
}


/*--------------------------------------------------------------
#1.1	testimonials-section
--------------------------------------------------------------*/
.testimonials-section {
	padding-bottom: 105px;

	@include media-query(991px) {
		padding-bottom: 70px;
	}

	@include media-query(676px) {
		padding-bottom: 60px;
	}

	.testimonials-slider {
		padding-top: 15px;
	}

	.grid {
		background-color: transparentize($theme-primary-color, 0.9);
		padding: 45px;
		position: relative;

		@include media-query(991px) {
			padding: 35px;
		}

		@include media-query(767px) {
			padding: 25px;
		}

		&:before {
			font-family: "Flaticon";
			content: "\f12a";
			font-size: 45px;
			font-size: calc-rem-value(45);
			color: $theme-primary-color;
			position: absolute;
			right: 45px;
			bottom: 45px;

			@include media-query(991px) {
				right: 35px;
				bottom: 35px;
			}

			@include media-query(767px) {
				right: 25px;
				bottom: 25px;
			}
		}

		> p {
			font-size: 18px;
			font-size: calc-rem-value(18);
			font-weight: 500;
			margin: 0 0 1em;

			@include media-query(767px) {
				font-size: 16px;
				font-size: calc-rem-value(16);
			}
		}

		.quoter {
			padding-left: 45px;
			position: relative;

			&:before {
				content: "";
				background-color: $theme-primary-color;
				width: 35px;
				height: 2px;
				position: absolute;
				left: 0;
				top: 8px;
			}

			h4 {
				font-size: 18px;
				font-size: calc-rem-value(18);
				margin: 0 0 0.2em;
			}
		}
	}
	
	.owl-theme .owl-controls {
	    margin-top: 35px;
	}

	.owl-theme .owl-controls .owl-nav [class*=owl-] {
	    width: 45px;
	    height: 45px;
	    line-height: 45px;
	    background: $white;
	    padding: 0;
	    color: $heading-color;
	    border-radius: 50%;
		border: 2px solid $theme-primary-color;

		@include media-query(1199px) {
			margin: 5px;
		}

		&:hover {
			background: $theme-primary-color;
			color: $white;

			.fi:before {
				color: $white;
			}
		}

		.fi:before {
			font-size: 14px;
			font-size: calc-rem-value(14);
			color: $theme-primary-color;
		}

	}
}


/*--------------------------------------------------------------
#1.2	blog-section
--------------------------------------------------------------*/
.blog-section {
	padding-top: 0;

	.content-area {
		.left-col,
		.right-col {
			width: 50%;
			float: left;

			@include media-query(991px) {
				width: 100%;
				float: none;
			}
		}

		.right-col {
			width: calc(50% - 60px);
			padding: 72px 60px;
			background-color: transparentize($theme-primary-color, 0.9);
			margin-left: 60px;
			position: relative;

			@include media-query(991px) {
				width: 100%;
				float: none;
				margin: 60px 0 0;
			}

			@include media-query(767px) {
				background-color: $white;
				padding: 0;
			}

			&:after {
				content: "";
				background-color: transparentize($theme-primary-color, 0.9);
				width: 500%;
				height: 100%;
				position: absolute;
				left: 100%;
				top: 0;

				@include media-query(767px) {
					display: none;
				}
			}
		}

		.right-col > .post + .post {
			border-top: 1px solid transparentize($theme-primary-color, 0.8);
			padding-top: 55px;
			margin-top: 55px;

			@include media-query(767px) {
				padding-top: 45px;
				margin-top: 45px;
			}
		}
	}

	.post {
		.cat {
			font-size: 15px;
			font-size: calc-rem-value(15);
			font-weight: 600;
			color: $theme-primary-color;
		}

		.cat i {
			position: relative;
			top: 3px;
			display: inline-block;
			padding-right: 5px;
			font-weight: normal;
		}

		.cat .fi:before {
			color: $theme-primary-color;
		}

		.entry-media {
			margin-bottom: 20px;
		}

		h3 {
			font-size: 24px;
			font-size: calc-rem-value(24);
			margin: 0 0 0.75em;
			line-height: 1.3em;

			@include media-query(767px) {
				font-size: 20px;
				font-size: calc-rem-value(20);
			}
		}

		h3 a {
			color: $heading-color;
		}

		h3 a:hover {
			color: $theme-primary-color;
		}

		.text {
			margin-bottom: 1.5em;
		}

		.read-more {
			font-size: 14px;
			font-size: calc-rem-value(14);
			font-weight: 600;
			color: $theme-primary-color;
			text-transform: uppercase;
			
			@include media-query(767px) {
				font-size: 13px;
				font-size: calc-rem-value(13);
			}
		}
	}

	.left-col .theme-btn {
		margin-top: 10px;
	}
}


/*--------------------------------------------------------------
#1.3	cta-s3-section
--------------------------------------------------------------*/
.cta-s3-section {
	@include background-style("../images/cta-s3-bg.jpg", center center, cover, no-repeat, local);

	.cta-content {
		width: 50%;
		float: right;
		background-color: transparentize($theme-primary-color, 0.05);
		padding: 75px 45px 85px;

		@include media-query(767px) {
			width: 100%;
			padding: 55px 25px 65px;
			float: none;
		}
	}

	h2 {
		font-size: 48px;
		font-size: calc-rem-value(48);
		margin: -0.1em 0 0.4em;
		color: $white;
		position: relative;

		@include media-query(991px) {
			font-size: 38px;
			font-size: calc-rem-value(38);
		}

		@include media-query(767px) {
			font-size: 30px;
			font-size: calc-rem-value(30);
		}
	}

	p {
		color: $white;
		margin-bottom: 2em;
	}
}