/*--------------------------------------------------------------
	#home-style-4
--------------------------------------------------------------*/
/*--------------------------------------------------------------
#4.1	about-section-s4
--------------------------------------------------------------*/
.about-section-s4 {
	.section-title {
		margin-bottom: 40px;
	}

	.mt {
		margin-top: 65px;

		@include media-query(1199px) {
			margin-top: 0;
		}
	}

	.section-title img {
		max-width: 132px;
		display: block;
		margin: 20px 0 0;
	}

	.info {

		h3 {
			font-size: 24px;
			font-size: calc-rem-value(24);
			font-weight: 600;
			color: $text-color;
			margin: 0 0 0.4em;
		}

		h4 {
			font-size: 20px;
			font-size: calc-rem-value(20);
			font-weight: 600;
			color: $text-color;
			margin: 0 0 2em;
		}
	}

	.details-text {

		@include media-query(991px) {
			margin: 50px 0;
		}

		h4 {
			font-size: 25px;
			font-size: calc-rem-value(25);
			font-weight: 600;
			line-height: 1.3em;
			margin: 0 0 0.6em;

			@include media-query(767px) {
				font-size: 22px;
				font-size: calc-rem-value(22);
			}

		}

		p {
			margin: 0;
		}
	}

	.features-grid .grid {
		background-color: $white;
    	padding: 47px 25px 42px 85px;
    	position: relative;
		border: 1px solid #ede9e8;
		margin-top: -1px;

		@include media-query(1199px) {
	    	padding: 40px 25px 37px 85px;
		}
	}

	.grid {
	    .fi:before {
	    	font-size: 45px;
	    	font-size: calc-rem-value(45);
	    	color: $theme-primary-color;

	    	@include media-query(767px) {
		    	font-size: 40px;
		    	font-size: calc-rem-value(40);
			}
	    }

	    i {
	    	position: absolute;
	    	left: 30px;
	    	top: 50%;
	    	@include translatingY();
	    }

	    h3 {
	    	font-size: 20px;
	    	font-size: calc-rem-value(20);
	    	font-weight: bold;
	    	margin: 0 0 0.2em;
	    }

	    p {
	    	font-size: 16px;
	    	font-size: calc-rem-value(16);
	    	margin: 0;

	    	@include media-query(767px) {
		    	font-size: 14px;
		    	font-size: calc-rem-value(14);
			}
	    }
	}
}


/*--------------------------------------------------------------
#4.2	cta-s5-section
--------------------------------------------------------------*/
.cta-s5-section {
	@extend .cta-s4-section;
	background-color: $theme-primary-color;
	position: relative;
	padding: 220px 0;

	@include media-query(1199px) {
		padding: 200px 0;
	}

	@include media-query(991px) {
		padding: 120px 0;
	}

	@include media-query(767px) {
		padding: 80px 0;
	}

	.info {
		position: relative;
		z-index: 1;

		h3,
		p,
		.fi:before {
			text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.22);
		}
	}

	.info i:before {
		color: $white;
	}

	.img-holder {
		position: absolute;
		right: 15%;
		bottom: 0;

		@include media-query(991px) {
			display: none;
		}
	}
}
