/*--------------------------------------------------------------
	#home-style-3
--------------------------------------------------------------*/
/*--------------------------------------------------------------
#3.1	feature-section
--------------------------------------------------------------*/
.feature-section {
	margin-top: -50px;

	.features-grid .grid {
		background-color: $white;
		width: calc(33.33% - 1px);
		float: left;
		margin-left: 1px;
    	padding: 47px 25px 42px 85px;
    	position: relative;
		box-shadow: 0px 6px 18.9px 2.1px rgba(35, 61, 98, 0.08);

		@include media-query(991px) {
			width: 100%;
			float: none;
			margin: 1px 0 0;
		}

	}

	.grid {
	    .fi:before {
	    	font-size: 45px;
	    	font-size: calc-rem-value(45);
	    	color: $theme-primary-color;

	    	@include media-query(767px) {
		    	font-size: 40px;
		    	font-size: calc-rem-value(40);
			}
	    }

	    i {
	    	position: absolute;
	    	left: 30px;
	    	top: 50%;
	    	@include translatingY();
	    }

	    h3 {
	    	font-size: 20px;
	    	font-size: calc-rem-value(20);
	    	font-weight: bold;
	    	margin: 0 0 0.2em;
	    }

	    p {
	    	font-size: 16px;
	    	font-size: calc-rem-value(16);
	    	margin: 0;

	    	@include media-query(767px) {
		    	font-size: 14px;
		    	font-size: calc-rem-value(14);
			}
	    }
	}
}


/*--------------------------------------------------------------
#3.2	about-section-s3
--------------------------------------------------------------*/
.about-section-s3 {
	.section-title {
		margin-bottom: 40px;
	}

	.mt {
		margin-top: 65px;

		@include media-query(1199px) {
			margin-top: 0;
		}
	}

	.section-title img {
		max-width: 132px;
		display: block;
		margin: 20px 0 0;
	}

	.info {

		h3 {
			font-size: 24px;
			font-size: calc-rem-value(24);
			font-weight: 600;
			color: $text-color;
			margin: 0 0 0.4em;
		}

		h4 {
			font-size: 20px;
			font-size: calc-rem-value(20);
			font-weight: 600;
			color: $text-color;
			margin: 0 0 2em;
		}
	}

	.details-text {

		@include media-query(991px) {
			margin: 50px 0;
		}

		h4 {
			font-size: 25px;
			font-size: calc-rem-value(25);
			font-weight: 600;
			line-height: 1.3em;
			margin: 0 0 0.6em;

			@include media-query(767px) {
				font-size: 22px;
				font-size: calc-rem-value(22);
			}

		}

		p {
			margin: 0;
		}
	}
}


/*--------------------------------------------------------------
#3.3	cta-s4-section
--------------------------------------------------------------*/
.cta-s4-section {
	background-color: #616a64;
	padding: 180px 0;

	@include media-query(991px) {
		padding: 120px 0;
	}

	@include media-query(767px) {
		padding: 80px 0;
	}

	.info {
		overflow: hidden;
		text-align: center;

		> div {
			display: inline-block;
			text-align: left;
			position: relative;
			padding-left: 100px;

			@include media-query(991px) {
				padding-left: 70px;
			}

			@include media-query(767px) {
				display: block;
				padding-left: 0;
				text-align: center;
			}
		}

		> div:last-child {
			padding-left: 150px;
			margin-left: 50px;
			border-left: 1px solid $white;

			@include media-query(991px) {
				padding-left: 120px;
				margin-left: 30px;
			}

			@include media-query(767px) {
				padding-left: 0;
				margin-left: 0;
				border-left: 0;
				margin-top: 40px;
			}

			i {
				left: 50px;

				@include media-query(991px) {
					left: 30px;
				}

				@include media-query(767px) {
					left: 0;
				}
			}
		}

		i {
			position: absolute;
			left: 0;
			top: 50%;
			@include translatingY();

			@include media-query(767px) {
				position: static;
				-webkit-transform: none;
				-moz-transform: none;
				-o-transform: none;
				-ms-transform: none;
				transform: none;
			}
		}

		i:before {
			font-size: 70px;
			font-size: calc-rem-value(70);
			color: $theme-primary-color;

			@include media-query(991px) {
				font-size: 50px;
				font-size: calc-rem-value(50);
			}

			@include media-query(767px) {
				font-size: 40px;
				font-size: calc-rem-value(40);
			}
		}

		p {
			font-size: 16px;
			font-size: calc-rem-value(16);
			font-weight: 600;
			color: $white;
			text-transform: uppercase;
			margin: 0 0 0.43em;
		}

		h3 {
			font-size: 36px;
			font-size: calc-rem-value(36);
			color: $white;
			margin: 0;

			@include media-query(991px) {
				font-size: 30px;
				font-size: calc-rem-value(30);
			}
		}

		a {
			color: $white;
			text-decoration: underline;
		}

		a:hover {
			color: $theme-primary-color;
		}
	}
}


/*--------------------------------------------------------------
#3.4	agents-section
--------------------------------------------------------------*/
.agents-section {
	margin-bottom: 0;

	.agents-grids {
		> .grid:first-child {
			text-align: left;
		}

		.grid {
			width: 25%;
			float: left;
			text-align: center;
			position: relative;

			@include media-query(991px) {
				width: 33.33%;
			}

			@include media-query(767px) {
				width: 50%;
			}

			@include media-query(450px) {
				width: 100%;
				float: none;
			}
		}

		@include media-query(991px) {
			> .grid:first-child {
				width: 100%;
				float: none;
				clear: both;
				margin-bottom: 55px;
			}

			> .grid:last-child {
				display: none;
			}
		}
	}

	.agent-info {
		background-color: $theme-primary-color;
		width: 100%;
		padding: 25px 15px;
		position: absolute;
		left: 0;
		bottom: 0;
		opacity: 0;
		visibility: hidden;
		@include transition-time(0.3s);

		h4 {
			font-size: 18px;
			font-size: calc-rem-value(18);
			font-weight: 500;
			color: $white;
			margin: 0;
		}

		p {
			font-size: 14px;
			font-size: calc-rem-value(14);
			color: $white;
			margin: 0;
		}
	}

	.grid:hover .agent-info {
		opacity: 1;
		visibility: visible;
	}

	.section-title img {
		max-width: 132px;
		display: block;
		margin: 20px 0 0;
	}

	.section-title 	h2 {
		@include media-query(1199px) {
			font-size: 35px;
			font-size: calc-rem-value(35);
		}

		@include media-query(767px) {
			font-size: 30px;
			font-size: calc-rem-value(30);
		}
	}


	.info {

		h3 {
			font-size: 24px;
			font-size: calc-rem-value(24);
			font-weight: 600;
			color: $text-color;
			margin: 0 0 0.4em;
		}

		h4 {
			font-size: 20px;
			font-size: calc-rem-value(20);
			font-weight: 600;
			color: $text-color;
			margin: 0 0 2em;
		}
	}
}


/*--------------------------------------------------------------
#3.5	partners-section
--------------------------------------------------------------*/
.partners-section {
	background-color: transparentize($theme-primary-color, 0.9);
	padding: 70px 0 58px;

	.grid {
		text-align: center;
	}

	.grid img {
		width: auto;
		margin: 0 auto;
		display: inline-block;
	}
}
