/*--------------------------------------------------------------
	#home-style-2
--------------------------------------------------------------*/
/*--------------------------------------------------------------
#2.1	about-section-s2
--------------------------------------------------------------*/
.about-section-s2 {
	@extend .about-section;

	@include media-query(1199px) {
		background: $white;
	}

	.fun-fact-area {
		background-color: $white;
		position: relative;

		&:after {
			content: "";
			background-color: $white;
			width: 9999%;
			height: 100%;
			position: absolute;
			right: -9998%;
			top: 0;
		}
	}

	.inner .details {
		padding-top: 0;
	}

	.about-info {
		margin-bottom: 89px;


		@include media-query(1199px) {
			padding-left: 0;
			margin: 55px 0 85px;
		}

		@include media-query(767px) {
			margin-bottom: 0;
		}
	}

	.fun-fact-grids {
		margin-top: 25px;
		padding-top: 75px;

		@include media-query(1199px) {
			margin-top: 0;
			padding-top: 0;
		}

		@include media-query(991px) {
			margin-top: 0;
		}

		@include media-query(767px) {
			margin-top: 60px;
		}

		> .grid:nth-child(2),
		> .grid:nth-child(3) {
			background-color: $white
		}

		@include media-query(500px) {
			> .grid:nth-child(2),
			> .grid:nth-child(4) {
				background-color: $white
			}

			> .grid:nth-child(3) {
				background-color: $white;
			}
		}

		.grid {
			background-color: $white;
			width: 33.33%;
			text-align: left;
			padding: 0;

			@include media-query(991px) {
				padding-right: 15px;
			}

			@include media-query(767px) {
				width: 50%;
				margin-bottom: 45px;

				&:last-child {
					margin-bottom: 0;
				}
			}

			@include media-query(550px) {
				width: 100%;
				float: none;
				padding-right: 0;
			}
		}

		@include widther(1200px) {
			.grid {
				padding-right: 45px;
			}
		}

		h3 {
			color: $heading-color;
			margin-top: -0.25em;

			@include media-query(991px) {
				font-size: 38px;
				font-size: calc-rem-value(38);
				padding-right: 15px;
			}

			@include media-query(767px) {
				font-size: 38px;
				font-size: calc-rem-value(38);
			}
		}

		p {
			color: $heading-color;
			font-weight: 600;
			font-size: 16px;
			font-size: calc-rem-value(16);
			margin-bottom: 1em;

			@include media-query(991px) {
				font-size: 14px;
				font-size: calc-rem-value(14);
			}
		}

		.info p:nth-child(3) {
			text-transform: none;
			color: $text-color;
			font-weight: normal;
			margin-bottom: 2.5em;

			@include media-query(767px) {
				margin-bottom: 1.5em;
			}
		}
	}
}


/*--------------------------------------------------------------
#2.2	service-section-s2
--------------------------------------------------------------*/
.service-section-s2 {
	@include media-query(1199px) {
		padding-bottom: 75px;
	}

	@include media-query(991px) {
		padding-bottom: 55px;
	}

	@include media-query(767px) {
		padding-bottom: 45px;
	}

	.services-grids {
		padding-top: 20px;

		 .grid {
			width: 16.66%;
			float: left;
			text-align: center;

			@include media-query(1199px) {
				width: 33.33%;
				margin-bottom: 35px;
			}

			@include media-query(550px) {
				width:50%;
			}
		}
	}

	.grid {
		.fi:before {
			font-size: 55px;
			font-size: calc-rem-value(55);
			color: $theme-primary-color;

			@include media-query(991px) {
				font-size: 55px;
				font-size: calc-rem-value(55);
			}
		}

		h3 {
			font-size: 18px;
			font-size: calc-rem-value(18);
			font-weight: bold;
			margin: 0;
			@include transition-time(0.3s);

			@include media-query(991px) {
				font-size: 18px;
				font-size: calc-rem-value(18);
			}
		}

		a:hover h3 {
			color: $theme-primary-color;
		}
	}
}


/*--------------------------------------------------------------
#2.3	cta-section-s2
--------------------------------------------------------------*/
.cta-section-s2 {
	padding-top: 0;
	padding-bottom: 0;

	background: -webkit-linear-gradient(left, transparentize($theme-primary-color, 0.9) 50%, $white 50%);
	background: -moz-linear-gradient(left, transparentize($theme-primary-color, 0.9) 50%, $white 50%);
	background: -o-linear-gradient(left, transparentize($theme-primary-color, 0.9) 50%, $white 50%);
	background: -ms-linear-gradient(left, transparentize($theme-primary-color, 0.9) 50%, $white 50%);
	background: linear-gradient(left, transparentize($theme-primary-color, 0.9) 50%, $white 50%);

	@include media-query(767px) {
		background: transparentize($theme-primary-color, 0.9);
	}

	.content-area {
		position: relative;

		.left-col,
		.right-col {
			width: 50%;
			float: left;
			position: relative;

			@include media-query(767px) {
				width: 100%;
				float: none;
			}
		}

		.left-col {
			padding-left: 15px;
			padding-right: 15px;
		}

		.right-col {
			@include media-query(767px) {
				height: 400px !important;
			}
		}

		.inner-area {
			max-width: 570px;
			margin-left: auto;
			padding: 110px 0;

			@include media-query(991px) {
				padding: 90px 0;
			}

			@include media-query(767px) {
				padding: 80px 0;
				max-width: 100%;
			}
		}
	}

	.details {
		padding-top: 10px;
		padding-right: 45px;

		@include media-query(991px) {
			padding: 0;
		}
	}

	.contact-info {
	    position: relative;

	    p {
	    	font-size: 14px;
	    	font-size: calc-rem-value(14);
	    	font-weight: 600;
	    	margin: 0;
	    	text-transform: uppercase;
	    }

	    h2 {
	    	font-size: 36px;
	    	font-size: calc-rem-value(36);
	    	color: $theme-primary-color;
	    	margin: 0.4em 0 1em;

	    	@include media-query(991px) {
		    	font-size: 30px;
		    	font-size: calc-rem-value(30);
			}

	    	@include media-query(767px) {
		    	font-size: 25px;
		    	font-size: calc-rem-value(25);
			}
	    }
	}


	.video-area {
		@include background-style("../images/cta-section-s2-bg.jpg", center center, cover, no-repeat, local);
		position: absolute;
		width: 100%;
		height: 100%;

		.video-btns {
			position: absolute;
			left: 50%;
			top: 50%;
			@include center-by-translating();			
		}

		.video-btns a {
			background-color: $theme-primary-color;
		    width: 85px;
		    height: 85px;
		    line-height: 85px;
		    color: $white;
		    text-align: center;
		    border-radius: 65px;
		    display: inline-block;
			box-shadow: 0px 0px 35.77px 13.23px rgba(35, 61, 98, 0.24);

			@include media-query(767px) {
			    width: 65px;
			    height: 65px;
			    line-height: 65px;
			}
		}

		.fi:before {
			font-size: 25px;
			font-size: calc-rem-value(25);
		}

		.experience-text {
			position: absolute;
			left: 50px;
			bottom: 50px;

			@include media-query(991px) {
				left: 20px;
				bottom: 20px;
			}

			span {
				font-size: 113px;
				font-size: calc-rem-value(113);
				position: absolute;
				left: 0;
				top: 0;

				@include media-query(991px) {
					font-size: 80px;
					font-size: calc-rem-value(80);
				}
			}

			p {
				font-size: 24px;
				font-size: calc-rem-value(24);
				line-height: 1.3em;
				font-weight: bold;
				color: $white;
				text-transform: uppercase;
				margin: 0;
				position: relative;
				padding-left: 115px;
				text-shadow: 1px 1px 1px $heading-color;

				@include media-query(991px) {
					font-size: 17px;
					font-size: calc-rem-value(17);
					padding-left: 85px;
				}
			}
		}
	}
}


/*--------------------------------------------------------------
#2.4	claim-statement-section
--------------------------------------------------------------*/
.claim-statement-section {
	padding-bottom: 0;

	.statement-grids {
		padding-top: 15px;

		.grid {
			width: 33.33%;
			float: left;
			padding: 0 50px;
			text-align: center;

			@include media-query(1199px) {
				padding: 0 35px;
			}

			@include media-query(991px) {
				padding: 0 15px;
			}

			@include media-query(650px) {
				width: 100%;
				float: none;

				& + .grid {
					margin-top: 25px;
				}
			}
		}

		.fi:before {
			font-size: 50px;
			font-size: calc-rem-value(50);
			color: $theme-primary-color;

			@include media-query(991px) {
				font-size: 40px;
				font-size: calc-rem-value(40);
			}
		}

		h3 {
			font-size: 24px;
			font-size: calc-rem-value(24);
			margin: 0.4em 0 0.63em;
			font-weight: 500;

			@include media-query(991px) {
				font-size: 20px;
				font-size: calc-rem-value(20);
			}
		}

		p {
			font-weight: 500;
			margin-bottom: 0;
		}
	}
}


/*--------------------------------------------------------------
#2.5	testimonials-section-s2
--------------------------------------------------------------*/
.testimonials-section-s2 {
	position: relative;
	padding-top: 105px;

	@include media-query(991px) {
		padding-top: 85px;
	}

	@include media-query(767px) {
		padding-top: 75px;
	}

	.testimonials-slider-holder {
		@include widther(767px) {
			margin-right:-85%;
			margin-left:-15px
		}
	}

	.slick-slide {
		@include widther(767px) {
			padding: 0 15px
		}
	}

	.grid {
		background-color: transparentize($theme-primary-color, 0.9);
		padding: 45px;
		position: relative;

		@include media-query(991px) {
			padding: 35px;
		}

		@include media-query(767px) {
			padding: 25px;
		}

		&:before {
			font-family: "Flaticon";
			content: "\f12a";
			font-size: 45px;
			font-size: calc-rem-value(45);
			color: $theme-primary-color;
			position: absolute;
			right: 45px;
			bottom: 45px;

			@include media-query(991px) {
				right: 35px;
				bottom: 35px;
			}

			@include media-query(767px) {
				right: 25px;
				bottom: 25px;
			}
		}

		> p {
			font-size: 18px;
			font-size: calc-rem-value(18);
			font-weight: 500;
			margin: 0 0 1em;

			@include media-query(767px) {
				font-size: 16px;
				font-size: calc-rem-value(16);
			}
		}

		.quoter {
			padding-left: 45px;
			position: relative;

			&:before {
				content: "";
				background-color: $theme-primary-color;
				width: 35px;
				height: 2px;
				position: absolute;
				left: 0;
				top: 8px;
			}

			h4 {
				font-size: 18px;
				font-size: calc-rem-value(18);
				margin: 0 0 0.2em;
			}
		}
	}


	/*** slider arrows ***/
	.slider-s2-arrows {
		overflow: hidden;
		padding-top: 20px;

		@include media-query(1199px) {
			padding: 10px 0 40px;
		}

		@include media-query(991px) {
			padding: 0 0 40px;
		}

		@include media-query(767px) {
			padding: 0 0 30px;
		}

		.slick-arrow {
			float: left;
			margin-right: 6px;
		}
	}

	.slick-arrow {
	    width: 45px;
	    height: 45px;
	    line-height: 42px;
	    background: $white;
	    padding: 0;
	    color: $heading-color;
	    border-radius: 50%;
		border: 2px solid $theme-primary-color;
		text-align: center;
		cursor: pointer;

		@include media-query(1199px) {
			margin: 5px;
		}

		&:hover {
			background: $theme-primary-color;
			color: $white;

			.fi:before {
				color: $white;
			}
		}

		.fi:before {
			font-size: 14px;
			font-size: calc-rem-value(14);
			color: $theme-primary-color;
		}
	}
}


/*--------------------------------------------------------------
#2.6	award-section
--------------------------------------------------------------*/
.award-section {

	@include media-query(991px) {
    	background-color: transparentize($theme-primary-color, 0.9);
    }

	.content-area {
		background-color: transparentize($theme-primary-color, 0.9);
		padding: 110px 0 105px;
		position: relative;

		@include media-query(991px) {
			padding-right: 15px;
			padding: 70px 0 85px;
			background-color: transparent;

			&:before {
				display: none;
			}
		}

		@include media-query(767px) {
			padding: 60px 0 75px;
		}

		&:before {
			content: "";
			background-color: transparentize($theme-primary-color, 0.9);
			width: 100%;
			height: 100%;
			position: absolute;
			left: -100%;
			top: 0;
		}
	}

	.award-slider {
		padding-top: 25px;
	}

	.grid {
		text-align: center;
		padding: 0 35px;

		@include media-query(991px) {
			padding: 0 15px;
	    }

		h3 {
			font-size: 30px;
			font-size: calc-rem-value(30);
			margin: 0.7em 0 0.3em;

			@include media-query(991px) {
				font-size: 25px;
				font-size: calc-rem-value(25);
		    }
		}

		p {
			font-size: 16px;
			font-size: calc-rem-value(16);
			margin: 0;
			font-weight: 500; 
		}
	}

	.owl-item img {
		width: auto;
		display: inline-block;
		margin: 0 auto;
	}

	.owl-theme .owl-controls {
	    margin-top: 45px;

	    @include media-query(991px) {
	    	margin-top: 25px;
	    }
	}

	.owl-theme .owl-controls .owl-nav [class*=owl-] {
	    width: 45px;
	    height: 45px;
	    line-height: 45px;
	    background: transparent;
	    padding: 0;
	    color: $heading-color;
	    border-radius: 50%;
		border: 2px solid $theme-primary-color;

		@include media-query(1199px) {
			margin: 5px;
		}

		&:hover {
			background: $theme-primary-color;
			color: $white;

			.fi:before {
				color: $white;
			}
		}

		.fi:before {
			font-size: 14px;
			font-size: calc-rem-value(14);
			color: $theme-primary-color;
		}

	}
}

.awards-pg-section .content-area,
.awards-pg-section .content-area:before {
	background-color: $white;
}


/*--------------------------------------------------------------
#2.7	blog-section-s2
--------------------------------------------------------------*/
.blog-section-s2 {
	@extend .blog-section;
	padding-top: 110px;

	.content-area {
		.left-col,
		.right-col {
			width: 50%;
			float: left;

			@include media-query(991px) {
				width: 100%;
				float: none;
			}
		}

		.right-col {
			width: calc(50% - 60px);
			padding: 0;
			background-color: $white;
			margin-left: 60px;
			position: relative;

			@include media-query(991px) {
				width: 100%;
				float: none;
				margin: 60px 0 0;
			}

			@include media-query(767px) {
				background-color: $white;
				padding: 0;
			}

			&:after {
				display: none;
			}
		}

		.right-col > .post + .post {
			border-top: 1px solid transparentize($theme-primary-color, 0.8);
			padding-top: 55px;
			margin-top: 55px;

			@include media-query(767px) {
				padding-top: 45px;
				margin-top: 45px;
			}
		}
	}
}




























