/*--------------------------------------------------------------
	#service-single-page
--------------------------------------------------------------*/
/*--------------------------------------------------------------
#7.1	service-single-section
--------------------------------------------------------------*/
.service-single-section {
	padding-bottom: 0;
	
	/*** tab-links ***/
	.tab-links {
	}

	.tab-links li {
		width: 16.66%;
		float: left;
		text-align: center;

		@include media-query(1199px) {
			width: 33.33%;
			margin-bottom: 35px;
		}

		@include media-query(550px) {
			width:50%;
		}
	}

	.tab-links {
		border: 1px solid #dadee5;

		.fi:before {
			font-size: 45px;
			font-size: calc-rem-value(45);
			color: $theme-primary-color;

			@include media-query(991px) {
				font-size: 40px;
				font-size: calc-rem-value(40);
			}
		}

		h3 {
			font-size: 16px;
			font-size: calc-rem-value(16);
			font-weight: bold;
			margin: 0;
			@include transition-time(0.3s);

			@include media-query(991px) {
				font-size: 15px;
				font-size: calc-rem-value(15);
			}
		}

		a {
			padding: 30px 15px 35px;
		}

		a:hover {
			background: $white;
		}

		a:hover h3 {
			color: $theme-primary-color;
		}

		li.active a {
			background-color: $theme-primary-color;
			position: relative;

			&:before {
				content: "";
				border: 10px solid transparent;
				border-top: 10px solid $theme-primary-color;
				position: absolute;
				left: calc(50% - 5px);
				bottom: -20px;
			}
		}

		li.active h3,
		li.active .fi:before {
			color: $white;
		}
	}

	/*** content-area ***/
	.content-area {
		margin: 80px 0;

		@include media-query(991px) {
			margin: 50px 0;
		}

		@include media-query(767px) {
			margin: 40px 0;
		}
		.grid {
			width: 50%;
			float: left;

			@include media-query(991px) {
				width: 100%;
				float: none;
			}
		}
	}

	/*** info-grid ***/
	.info-grid {
		padding-right: 35px;

		h3 {
			font-size: 36px;
			font-size: calc-rem-value(36);
			margin: 0 0 0.5em;

			@include media-query(991px) {
				font-size: 30px;
				font-size: calc-rem-value(30);
			}

			@include media-query(767px) {
				font-size: 25px;
				font-size: calc-rem-value(25);
			}
		}

		p {
			margin-bottom: 1.3em;
		}

		table {

			@include media-query(991px) {
				margin-bottom: 40px;
			}

			td {
				width: 50%;
				padding: 7px 0;
			}

			tr > td:first-child {
				font-weight: bold;
			}
		}
	}

	/*** bottom-info ***/
	.bottom-info {
		margin-bottom: 60px;
		overflow: hidden;

		.text {
			width: calc(100% - 335px);
			float: left;
			padding-right: 45px;

			@include media-query(991px) {
				width: 100%;
				float:  none;
			}

			h4 {
				font-size: 18px;
				font-size: calc-rem-value(18);
				margin: 0 0 0.7em;
				line-height: 1.5em;
			}

			p {
				margin: 0;
			}
		}

		.pdf-dwn-area {
			width: 335px;
			float: right;
			border: 1px solid #dadee5;
			padding: 34px 25px 34px 85px;
			position: relative;

			@include media-query(991px) {
				width: 310px;
				float:  none;
				margin-top: 25px;
				padding: 28px 20px 28px 85px;
			}

			i {
				font-size: 50px;
				font-size: calc-rem-value(50);
				color: $theme-primary-color;
				position: absolute;
				left: 25px;
				top: 50%;
				@include translatingY();
			}

			h5 {
				font-size: 16px;
				font-size: calc-rem-value(16);
				font-weight: 600;
				margin: 0 0 0.3em;
			}

			p {
				font-size: 14px;
				font-size: calc-rem-value(14);
				margin: 0;
			}
		}
	}

	/*** feature ****/
	.features-grid .grid {
		background-color: $white;
		width: calc(33.33% - 1px);
		float: left;
		margin-left: -1px;
    	padding: 47px 25px 42px 85px;
    	position: relative;
		border: 1px solid #dadee5;

		@include media-query(991px) {
			width: 100%;
			float: none;
			margin: 0 0 -1px 0;
		}

	    .fi:before {
	    	font-size: 45px;
	    	font-size: calc-rem-value(45);
	    	color: $theme-primary-color;

	    	@include media-query(767px) {
		    	font-size: 40px;
		    	font-size: calc-rem-value(40);
			}
	    }

	    i {
	    	position: absolute;
	    	left: 30px;
	    	top: 50%;
	    	@include translatingY();
	    }

	    h3 {
	    	font-size: 20px;
	    	font-size: calc-rem-value(20);
	    	font-weight: bold;
	    	margin: 0 0 0.2em;

	    	@include media-query(991px) {
		    	font-size: 17px;
		    	font-size: calc-rem-value(17);
			}
	    }

	    p {
	    	font-size: 16px;
	    	font-size: calc-rem-value(16);
	    	margin: 0;

	    	@include media-query(767px) {
		    	font-size: 14px;
		    	font-size: calc-rem-value(14);
			}
	    }
	}
}